<style type="text/css">
  td{
font-size: 12px;
  }
  th{
    font-size: 12px;
  }
</style>
<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-50">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <div class="btn-wrapper">
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
   <section class="section section-lg pt-lg-0 mt--100">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-12">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <!-- <h6 class="text-primary text-uppercase"> Contact List- Finance Department As On 23/10/2019</h6> -->
                 
<div class="container">
  <h3 class="h4 text-success font-weight-bold mb-4">Notification </h3>
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <!-- Tabs with icons -->
        <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
        	<ngb-tab>
              <ng-template ngbTabTitle>
                   <i class="ni ni-bell-55 mr-2"></i> 2019-20
              </ng-template>
                <ng-template ngbTabContent>
                  <ul>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/RevisedRateOfSikkimStateRevenueStamp.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification:- Revised rate
                                    of Sikkim State Revenue Stamp. Vide Notification No.05/Fin/Adm Dated 30-09-2019.</a>
                                  
                                </li>
                            </ul>  


                </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                   <i class="ni ni-bell-55 mr-2"></i> 2018-19
              </ng-template>
                <ng-template ngbTabContent>
                 <ul>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/CAMPA Notification.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification:- Sikkim State
                                    Compensatory Fund. Vide Notification No.Bud/FIN/13 Dated 26-03-2019.</a><img border="0"
                                        src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></li>
                            </ul>
                            <ul>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/Notification 20190108.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification:- Department
                                    of Personnel Administrative Reforms and Training is constituted to deal with the
                                    case of promotion. Vide Notification No.11/FIN/ADM Dated 05-01-2019.</a><img border="0"
                                        src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></li>
                            </ul>
                            <ul>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/Notification 20181220.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification:- In continuation
                                    to the Notification No.05/GOS/FIN/ADM dated 28th September 2018. Vide Notification
                                    No.09/FIN/ADM Dated 20-12-2018.</a><img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28"
                                        height="15" style="padding-left: 5px;" /></li>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/Notification 20180929.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification:- Enhancement
                                    of Existing Monthly Convence Allowance. Vide Notification No.05/GOS/FIN/ADM Dated
                                    28-09-2018.</a><img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></li>
                            </ul>
                            <ul>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/Notification20180518.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification:- In order
                                    to prevent and eradicate any fake/ false challans that has surfaced in the recent
                                    past against the deposits made in the State Bank Of Sikkim. Vide Notification No.01/Fin/Adm
                                    Dated 17-05-2018.</a><img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15"
                                        style="padding-left: 5px;" /></li>
                            </ul>
                            <ul>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/NoticeForAddInLocalDailies.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification:- Notice For
                                    Advertisement In Local Dailies&nbsp; vide Notification No.20/Fin/Accts dated 01-05-2018.</a></li>
                            </ul>
                            <ul>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/GeneralInformation.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification:- General information
                                    to the candidates who have qualified for appoinment to the post of Accounts Clerk/Junior
                                    Storekeeper under SSAS&nbsp; vide Notification No.19/Fin/Accts dated 01-05-2018.</a></li>
                            </ul>

                </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                   <i class="ni ni-bell-55 mr-2"></i> 2017-18
              </ng-template>
                <ng-template ngbTabContent>
                <ul>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/Notification 20170505.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification-Ammendment
                                    of SSAS rules 2017. vide Notification No. 21 /Fin/Acctt Dated:07/03/2017.<img border="0"
                                        height="15" src="http://sikkimfred.gov.in/images/new.gif" style="padding-left: 5px; width: 28px" /></a>
                                </li>
                            </ul>
                            <ul>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/Notification Revenue Stamp20170328.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification -Details Guidelines
                                    of revise cost of Revenue Stamps and Stamps Paper in the State of Sikkim. vide Notification
                                    No. 23/FIN/ADM Dated:25/03/2017.</a></li>
                            </ul>  
                </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                   <i class="ni ni-bell-55 mr-2"></i> 2016-17
              </ng-template>
                <ng-template ngbTabContent>
               <ul>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/Notification20170325.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification -Sikkim Finincial
                                    Rules , vide Notification No. 20/FIN/ADM Dated:20/07/2007.</a></li>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/Notification20170125.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification - Issue of
                                    State Government Securities , vide Notification No. 01/FIN/Acctts Dated:20/07/2007</a>
                                </li>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/Notification20161014.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification - Committee
                                    consistng of members of Finance Revenue & Expenditure Department , vide Notification
                                    No. GOS/CM/FIN/ADM/2016-17/12-42(31) Dated:13/10/2016.</a></li>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/Sikkim Financial Rules , 1979 -Amendment Proposals.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification - Sikkim Financial
                                    Rules , 1979 -Amendment Proposals, vide Notification No. 552/Fin/Adm/2016-17 Dated:20/08/2016.</a></li>
                            </ul>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
               <i class="ni ni-bell-55 mr-2"></i> 2015-16 
              </ng-template>
                <ng-template ngbTabContent>
                <ul>
                                                <li style="color: Black;">&nbsp;<a href="http://sikkimfred.gov.in/Notification/Documents/Notification 20180811.pdf"
                                                    target="_blank" style="color: Black; font-size: small;">Notification: State Goverment
                                                    has been granting permission to conduct raffles in the state of Sikkim, vide Notification
                                                    No. 07/FIN/ADM/2015-16 Dated:06/11/2015.<img border="0" height="15" src="http://sikkimfred.gov.in/images/new.gif"
                                                        style="padding-left: 5px;" width="28" /></a></li>
                                            </ul>
                                            <ul>
                                                <li style="color: Black;">&nbsp;<a href="http://sikkimfred.gov.in/Notification/Documents/EStamps LIC Policy.pdf"
                                                    target="_blank" style="color: Black; font-size: small;">Notification - E- Stamps
                                                    LIC Policy, vide Notification No. 04/Fin/Adm/2016-17 Dated:19/05/2016.</a></li>
                                            </ul>
                                            <ul>
                                                <li style="color: Black;">&nbsp;<a href="http://sikkimfred.gov.in/Notification/Documents/Revised Saledeed notification.pdf"
                                                    target="_blank" style="color: Black; font-size: small;">Notification - Revised Cost
                                                    Of Sale Deed Form, vide Notification No. 02/Fin/Adm Dated:02/04/2016.</a></li>
                                            </ul>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                    <i class="ni ni-bell-55 mr-2"></i> 2014-15
              </ng-template>
                <ng-template ngbTabContent>
           <ul>
                            <li style="color: Black;">
                                <a href="http://sikkimfred.gov.in/Notification/Documents/Notification for inter seniority.pdf" target="_blank" style="color: Black; font-size: small;">Notification:-Amendment to Sikkim Subordinate and Accounts Service Rules 2014&nbsp; vide Notification No.03/Fin/Accts
                                    dated 27-05-2014.</a>
                            </li>
                            <li style="color: Black;">
                                <a href="http://sikkimfred.gov.in/Notification/Documents/Promotion Committee.pdf" target="_blank" style="color: Black; font-size: small;">Notification:-Constitution of Departmental Promotion Committee&nbsp; vide Notification No.02/Fin/Accts dated 08-05-2014.
                                </a>
                            </li>
                            <li style="color: Black;">
                                <a href="http://sikkimfred.gov.in/Notification/Documents/Notification_for_Limited_deptt_examination_to_be_held_on_8th_June_2014.pdf" target="_blank"
                                    style="color: Black; font-size: small;">Notification:- SSAS Limited Departmental Competitive Examination postponed&nbsp; vide Notification No.01/Fin/Admn dated
                                    15-04-2014.</a>
                            </li>
                       </ul>
         
                </ng-template>
            </ngb-tab>
                 <ngb-tab>
              <ng-template ngbTabTitle>
                    <i class="ni ni-bell-55 mr-2"></i> 2013-14
              </ng-template>
                <ng-template ngbTabContent>
            <ul>
            <li style="color: Black;">
                <a href="http://sikkimfred.gov.in/Notification/Documents/FinalNotificationForConductingDepartmentalExamOfSSAS.pdf" target="_blank" style="color: Black; font-size: small;">Notification:- Limited Departmental Competitive Examination for SSAS&nbsp; vide Notification No.29/Fin/SSAS dated 26-12-2013.</a>
            </li>
          
                <li style="color: Black;">
                    <a href="http://sikkimfred.gov.in/Notification/Documents/Application_Form.pdf" target="_blank" style="color: Black; font-size: small;">Download Application Form.</a>
                </li>
            
            <li style="color: Black;">
                <a href="http://sikkimfred.gov.in/Notification/Documents/NOTIFICATION .pdf" target="_blank" style="color: Black; font-size: small;">Notification - Amendment to Sikkim Financial rules,&nbsp; 1979 vide Notification No.17(1)/FIN/ACCTS/04 Dated:06-07-2013.</a>
            </li>
      </ul>  
                </ng-template>
            </ngb-tab>
            
        </ngb-tabset>
    </div>
   
  </div>

  <!-- <div class="row row-grid justify-content-between align-items-center mt-lg">
    <div class="col-lg-5">
      <h3 class="h4 text-success font-weight-bold mb-4">Progress bars</h3>
      <div class="progress-wrapper">
        <div class="progress-info">
          <div class="progress-label">
            <span>Task completed</span>
          </div>
          <div class="progress-percentage">
            <span>40%</span>
          </div>
        </div>
        <ngb-progressbar type="default" [value]="25"></ngb-progressbar>
      </div>
      <div class="progress-wrapper">
        <div class="progress-info">
          <div class="progress-label">
            <span>Task completed</span>
          </div>
          <div class="progress-percentage">
            <span>60%</span>
          </div>
        </div>
        <ngb-progressbar type="primary" [value]="60"></ngb-progressbar>
      </div>
    </div> -->
   <!--  <div class="col-lg-5">
      <h3 class="h4 text-success font-weight-bold mb-5">Pagination</h3>
      <nav aria-label="Page navigation example" class="mb-4">
        <ngb-pagination [collectionSize]="50" [(page)]="page" [directionLinks]="false"></ngb-pagination>
      </nav>
      <nav aria-label="Page navigation example">
        <ngb-pagination [collectionSize]="50" [(page)]="page1" aria-label="Default pagination">
          <ng-template ngbPaginationPrevious><i _ngcontent-c9="" class="fa fa-angle-left"></i></ng-template>
          <ng-template ngbPaginationNext><i _ngcontent-c9="" class="fa fa-angle-right"></i></ng-template>
        </ngb-pagination>
      </nav>
    </div>
 -->  <!-- </div> -->
 <!--  <div class="row row-grid justify-content-between">
  --> <!--   <div class="col-lg-5">
      <h3 class="h4 text-success font-weight-bold mb-5">Navigation Pills</h3>
      <ngb-tabset type="pills" class="nav-pills-circle">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <span class="nav-link-icon d-block"><i class="ni ni-atom"></i></span>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <span class="nav-link-icon d-block"><i class="ni ni-chat-round"></i></span>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
                <span class="nav-link-icon d-block"><i class="ni ni-cloud-download-95"></i></span>
            </ng-template>
          </ngb-tab>
      </ngb-tabset>
    </div> -->
  <!--   <div class="col-lg-5">
      <h3 class="h4 text-success font-weight-bold mb-5">Labels</h3>
      <span class="badge badge-pill badge-primary text-uppercase">Primary</span>
      <span class="badge badge-pill badge-success text-uppercase">Success</span>
      <span class="badge badge-pill badge-danger text-uppercase">Danger</span>
      <span class="badge badge-pill badge-warning text-uppercase">Warning</span>
      <span class="badge badge-pill badge-info text-uppercase">Info</span>
    </div> -->
<!--   </div> -->
</div>


                 </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>  
 
 
  

  
</main>
