<style type="text/css">
  td{
font-size: 12px;
  }
  th{
    font-size: 12px;
  }
</style>
<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-50">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <div class="btn-wrapper">
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
   <section class="section section-lg pt-lg-0 mt--100">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-12">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <h6 class="text-primary text-uppercase"> Payment Details </h6>







<div class="content-wrapper">
   <div class="container-fluid">
     <!-- Breadcrumbs-->
    <br/><br/>
     <!-- Icon Cards-->
     
     <!-- Area Chart Example-->


<div class="row">
<div class="col-lg-4">
   <div class="card mb-3">
 <div class="card-header">
 Payment Details
</div>

 <div class="card-body">
  
<div>
    <p>Choose Year</p> 
    <input type="date" name="" id="from_date1" class="form-control"><br>
</div>
 
         </div>
           <div class="modal-footer">
            <a class="btn btn-primary show_yearly" style="color: white" >Show Yearly Report</a>
         </div>



   </div>
</div>
<div class="col-lg-4">
     <div class="card mb-3">
 <div class="card-header">
 Payment Details
</div>

 <div class="card-body">
  
<div>
    <p>Choose Year</p> 
    <input type="date" name="" id="from_date" class="form-control"><br>
</div>


<div>
    <p>Choose Year</p> 
    <input type="date" name="" id="to_date" class="form-control"><br>
</div>

 
         </div>
           <div class="modal-footer">
            <a class="btn btn-primary show" style="color: white" >Show Difference Report</a>
         </div>



   </div>
</div>
<div class="col-lg-4">
    <div class="card mb-3">
 <div class="card-header">
 Payment Details
</div>

 <div class="card-body">
  
<div>
    <p>Choose From Month</p> 
    <input type="date" name="" id="from_month" class="form-control"><br>
</div>


<div>
    <p>ChooseTo Month</p> 
    <input type="date" name="" id="to_month" class="form-control"><br>
</div>

 
         </div>
           <div class="modal-footer">
            <a class="btn btn-primary show_month" style="color: white" >Show Monthly Report</a>
         </div>



   </div>
</div>
</div>

   

   <div class="container-fluid">
   	<div class="row">
   		<div class="col-lg-5">

   		 <div class="card mb-3">
             <div class="card-header">
                 Payment Report
              </div>

 <div class="card-body">
  
               <div id="chart-container">
                  <canvas id="mycanvas"></canvas>

              </div>

              <br/>
              <br/>

                                                               <div id="chart-container">

                                                    <canvas id="mycanvas1"></canvas>
                                                </div>
 
         </div>
         
   			

   		</div>
   	</div>
   		<div class="col-lg-7">
   			 <div class="table-responsive">
   			<div id="result"></div>
   		</div>
   		</div>
   	</div>
   </div>





                                                
                                            </div>


     
  
 </div>





                 

                 </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>  
 
 
  

  
</main>
