<style type="text/css">
  a{
font-size: 14px;
  }
  li{
    font-size: 12px;
  }
</style>
<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-50">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <div class="btn-wrapper">
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
   <section class="section section-lg pt-lg-0 mt--100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-12">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <!-- <h6 class="text-primary text-uppercase"> Contact List- Finance Department As On 23/10/2019</h6> -->
                 
<div class="container">
  <h3 class="h4 text-success font-weight-bold mb-4">Act</h3>
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <!-- Tabs with icons -->
        <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
            <ngb-tab>
              <ng-template ngbTabTitle>
                   <i class="ni ni-bell-55 mr-2"></i> Act
              </ng-template>
                <ng-template ngbTabContent>
               <table>
    
    <tr>

 <td  class="Budget_Content"style="vertical-align:top; padding-top:5px;">
        <div>
        
            

 <div class="Budget_Content" 
        style="width:776px; text-align:center; color:Black; padding:2px; font-size: small;">
        <table style="border: solid 1px gray; padding:5px;"><tr><td>



<p ALIGN=CENTER STYLE="margin-bottom: 0.2cm; line-height: 100%"><b>GOVERNMENT
OF SIKKIM</b></p>
<p ALIGN=CENTER STYLE="margin-bottom: 0.2cm; line-height: 100%"><b>LAW
DEPARTMENT</b></p>
<p ALIGN=CENTER STYLE="margin-bottom: 0.2cm; line-height: 100%"><b>GANGTOK</b></p>
<p ALIGN=RIGHT STYLE="margin-bottom: 0.2cm">No.21/LD/2000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dated:16.12.2000.</p>
<p ALIGN=CENTER STYLE="margin-bottom: 0.2cm">NOTIFICATION&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
The following Act of the Sikkim Legislative Assembly having received
the assent of the Governor on 13th day of December, 2000 is hereby
published for general information:-</p>
<p ALIGN=CENTER STYLE="margin-bottom: 0.2cm"><B>THE SIKKIM CEILING ON
GOVERNMENT GUARANTEES ACT, 2000</B></p>
<p ALIGN=CENTER STYLE="margin-bottom: 0.2cm"><B>(ACT NO. 21 OF 2000)</B></p>
<p ALIGN=CENTER STYLE="margin-bottom: 0.2cm"><B>AN </B>
</p>
<p ALIGN=CENTER STYLE="margin-bottom: 0.2cm">&nbsp;<B>ACT</B></p>
<p STYLE="margin-bottom: 0.2cm">to provide ceiling on Government
Guarantees and other matters connected therewith.</p>
<p STYLE="margin-bottom: 0.2cm">Be it enacted by the Legislature of
Sikkim in the Fifty-first year of the Republic of India as follows:-</p>
<div style=" padding-left:90px;">
<table class="tab1" BORDER=1 CELLPADDING=0 CELLSPACING=0>
	<tr VALIGN=TOP>
		<td WIDTH=141>
			<p ALIGN=CENTER>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Short title and commencement</p>
		</td>
		<td WIDTH=492>
			<p ALIGN=CENTER>1 (1) This Act may be called Sikkim Ceiling on
			Government Guarantee&nbsp;&nbsp;&nbsp; Act 2000.</p>
			<p ALIGN=CENTER>(2) It shall come into force at once.</p>
		</td>
	</tr>
	<tr VALIGN=TOP>
		<td WIDTH=141>
			<p ALIGN=CENTER>Definitions</p>
		</td>
		<td WIDTH=492>
			<p ALIGN=CENTER>2 In this Act, unless the context otherwise
			requires:-</p>
			<p ALIGN=CENTER>&ldquo;Default risk &ldquo; means the probability
			of default by the borrower on</p>
			<p ALIGN=CENTER>(a) whose behalf the Government Guarantee is
			given, depending on the Amount borrowed, the type of industry and
			the economic situations.</p>
			<p ALIGN=CENTER>&ldquo;Government&rdquo; means the State
			Government of Sikkim.</p>
			<p ALIGN=CENTER>&ldquo;Government Guarantee&rdquo; includes the
			guarantee given by the State</p>
			<p ALIGN=CENTER>(b) Government on behalf of Departmental
			Undertakings, Public Sector Undertakings, Local Authorities,
			Statutory Boards and Corporations and&nbsp; Co-operative
			institution</p>
		</td>
	</tr>
	<tr VALIGN=TOP>
		<td WIDTH=141>
			<p ALIGN=CENTER>Ceiling on Government Guarantees</p>
		</td>
		<td WIDTH=492>
			<p ALIGN=CENTER>3.&nbsp; The total outstanding Government
			Guarantees as on the first day of April of any year shall not
			exceed thrice the State&rsquo;s tax revenue receipts of the second
			preceding year as in the books of the&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Accountant General of Sikkim.</p>
		</td>
	</tr>
	<tr VALIGN=TOP>
		<td WIDTH=141>
			<p ALIGN=CENTER>Prohibition</p>
		</td>
		<td WIDTH=492>
			<p ALIGN=CENTER>4 Notwithstanding any thing contained in any other
			law, no Government Guarantee shall be given in respect of a loan
			of any private individual, institutions or company.</p>
		</td>
	</tr>
	<tr VALIGN=TOP>
		<td WIDTH=141>
			<p ALIGN=CENTER>Guarantee</p>
		</td>
		<td WIDTH=492>
			<p ALIGN=CENTER>5 (1) The Government shall charge a minimum of one
			percent as guarantee Commission which shall not be&nbsp; waived
			under any circumstances</p>
			<p ALIGN=CENTER>(2) The Government may, by notification in the
			Official Gazette specify Commission at an enhanced rate depending
			on the default risk of the Project.</p>
		</td>
	</tr>
</table>
</div>
<p>&nbsp;</p>
<p ALIGN=CENTER STYLE="margin-bottom: 0.2cm; line-height: 100%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<B>By Order of the Governor.</B></p>
<p STYLE="margin-bottom: 0.2cm; line-height: 100%">&nbsp;</p>
<p ALIGN=RIGHT STYLE="margin-bottom: 0.2cm; line-height: 100%"> <B>T.D.
Rinzing</B></p>
<p ALIGN=RIGHT STYLE="margin-bottom: 0.2cm; line-height: 100%">
<B>Secretary to the Government of Sikkim</B></p>
<p ALIGN=RIGHT STYLE="margin-bottom: 0.2cm; line-height: 100%"> <B>Law
Department</B></p>
<p ALIGN=RIGHT STYLE="margin-bottom: 0.2cm; line-height: 100%"> <B>F.No.
16(82)LDF/2000</B></p>




                
    </td></tr></table>           



   
</div>
                
                


        
         </div>
             </td>
    


</tr>
</table>



                    
                 
                </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                   <i class="ni ni-bell-55 mr-2"></i> Act Pdf
              </ng-template>
                <ng-template ngbTabContent>
            <ul>
<li><a href="../FRED Acts/Documents/GovernmentGuranteeAct.pdf" target="_blank"  style="color:Black; font-size:small;">Sikkim Ceiling on Govt. gurantees Act</a></li>
</ul>
<ul>
<li><a href="../FRED Acts/Documents/EcologicalFundAct.pdf" target="_blank" style="color:Black; font-size:small;">Ecology Fund & Enviromental Cess Act</a></li>
</ul>
<ul>
<li><a href="../FRED Acts/Documents/TaxOnProfessionAct.pdf" target="_blank" style="color:Black; font-size:small;">Tax on Profession,Trades Act</a></li>
</ul>
<ul>
<li><a href="../FRED Acts/Documents/SikkimEducationalCessAct.pdf" target="_blank" style="color:Black; font-size:small;">Sikkim Education Cess  Act</a></li>
</ul>
<ul>
<li><a href="../FRED Acts/Documents/FRBM_ACT.pdf" target="_blank" style="color:Black; font-size:small;">FRBM Act</a> </li>



</ul>    
                </ng-template>
            </ngb-tab>
          
        </ngb-tabset>
    </div>
   
  </div>

  <!-- <div class="row row-grid justify-content-between align-items-center mt-lg">
    <div class="col-lg-5">
      <h3 class="h4 text-success font-weight-bold mb-4">Progress bars</h3>
      <div class="progress-wrapper">
        <div class="progress-info">
          <div class="progress-label">
            <span>Task completed</span>
          </div>
          <div class="progress-percentage">
            <span>40%</span>
          </div>
        </div>
        <ngb-progressbar type="default" [value]="25"></ngb-progressbar>
      </div>
      <div class="progress-wrapper">
        <div class="progress-info">
          <div class="progress-label">
            <span>Task completed</span>
          </div>
          <div class="progress-percentage">
            <span>60%</span>
          </div>
        </div>
        <ngb-progressbar type="primary" [value]="60"></ngb-progressbar>
      </div>
    </div> -->
   <!--  <div class="col-lg-5">
      <h3 class="h4 text-success font-weight-bold mb-5">Pagination</h3>
      <nav aria-label="Page navigation example" class="mb-4">
        <ngb-pagination [collectionSize]="50" [(page)]="page" [directionLinks]="false"></ngb-pagination>
      </nav>
      <nav aria-label="Page navigation example">
        <ngb-pagination [collectionSize]="50" [(page)]="page1" aria-label="Default pagination">
          <ng-template ngbPaginationPrevious><i _ngcontent-c9="" class="fa fa-angle-left"></i></ng-template>
          <ng-template ngbPaginationNext><i _ngcontent-c9="" class="fa fa-angle-right"></i></ng-template>
        </ngb-pagination>
      </nav>
    </div>
 -->  <!-- </div> -->
 <!--  <div class="row row-grid justify-content-between">
  --> <!--   <div class="col-lg-5">
      <h3 class="h4 text-success font-weight-bold mb-5">Navigation Pills</h3>
      <ngb-tabset type="pills" class="nav-pills-circle">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <span class="nav-link-icon d-block"><i class="ni ni-atom"></i></span>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <span class="nav-link-icon d-block"><i class="ni ni-chat-round"></i></span>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
                <span class="nav-link-icon d-block"><i class="ni ni-cloud-download-95"></i></span>
            </ng-template>
          </ngb-tab>
      </ngb-tabset>
    </div> -->
  <!--   <div class="col-lg-5">
      <h3 class="h4 text-success font-weight-bold mb-5">Labels</h3>
      <span class="badge badge-pill badge-primary text-uppercase">Primary</span>
      <span class="badge badge-pill badge-success text-uppercase">Success</span>
      <span class="badge badge-pill badge-danger text-uppercase">Danger</span>
      <span class="badge badge-pill badge-warning text-uppercase">Warning</span>
      <span class="badge badge-pill badge-info text-uppercase">Info</span>
    </div> -->
<!--   </div> -->
</div>


                 </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>  
 
 
  

  
</main>
