<style type="text/css">
  td{
font-size: 12px;
  }
  th{
    font-size: 12px;
  }
</style>
<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-50">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <div class="btn-wrapper">
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
   <section class="section section-lg pt-lg-0 mt--100">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-12">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
            <!--       <h6 class="text-primary text-uppercase"> Contact List- Finance Department As On 23/10/2019</h6>
             -->     


<div class="container-fluid">
   
    <div class="row">

<div class="col-sm-12 col-md-12 col-lg-4">

    <form action="mail.php" method="post">
             <div class="card mb-3">
 <div class="card-header">
Instructions
 </div>
                <div class="card-body">

                 
                    <div class="form-group">
                          
                        <ul>
                            <li style="margin: 2px;">After submitting the form successfully you will get the User ID and password through email.</li>
                            <li style="margin: 2px"><span style="color:red">*</span> Denotes Mandatory Fields</li>
                            <li>If the field shown in <span style="color:red">**</span> is not matched with DDO code then please contact +91-9474531378.</li>
                        </ul>
                       
                        </div>


                  
                </div>

            </div>
        </form>
        

</div>

        <div class="col-sm-12 col-md-12 col-lg-8 pb-5">


                    <!--Form with header-->

                    <form action="mail.php" method="post">
                        <div class="card mb-3">
 <div class="card-header">
Fill DDO Details
 </div>
                            <div class="card-body">

                                <!--Body-->



                                <div class="form-group">
                                    
                                        <label>Department <span style="color: red;margin: 0px">**</span></label>
                                
                                    <div class="input-group mb-2">
                                       
                                        <select class="form-control" id="categoryid">
   
                                        </select>
                                        
                                    </div>
                                </div>
                                

                                <div class="form-group">
                                        <label>DDO Code     <span style="color: red;margin: 0px">*</span></label>
                                    
                                    <div class="input-group mb-2">
                                                
                                            <select class="form-control" id="ddo_code">
                                               
                                                
                                                </select>  
                                        </div>
                                    </div>

               


                                    <div class="form-group">
                                            <label>Name of DDO  <span style="color: red;margin: 0px">**</span></label>
                                    
                                        <div class="input-group mb-2">
                                               
                                               <input type="text" id="ddo_name" readonly="" class="form-control">
                                                                                 
                                                </div>
                                        </div>



                                        <div class="form-group">
                                                <label>Designation  <span style="color: red;margin: 0px">**</span></label>
                                       
                                            <div class="input-group mb-2">
                                                   
                                               <input type="text" id="designationid" readonly="" class="form-control">
                                                                                     
                                                    </div>
                                            </div>


                                            <div class="form-group">
                                                    <label>District  <span style="color: red;margin: 0px">**</span></label>
                                       
                                                
                                                <div class="input-group mb-2">
                                                        
                                                     
                                               <input type="text" id="districtid" readonly="" class="form-control">
                                                                                         
                                                        </div>
                                                </div>




                                                <div class="form-group">
                                                        <label>Office Address 1  <span style="color: red;margin: 0px">*</span></label>
                                      
                                                    <div class="input-group mb-2">
                                                           
                                                            
                                                            <textarea class="form-control" id="officeAddress1" placeholder="Enter Office Address 1" required></textarea>
                                                        </div>
                                                    </div>
                    
                    
                    
                                                    <div class="form-group">
                                                            <label>Offie Address 2  <span style="color: red;margin: 0px"></span></label>
                                    
                                                        <div class="input-group mb-2">
                                                           
                                                            <textarea class="form-control" id="officeAddress2" placeholder="Enter Office Address 2" required></textarea>
                                                        </div>
                                                    </div>



                                <div class="form-group">
                                        <label>TIN Number  <span style="color: red;margin: 0px"></span></label>
                                    
                                    <div class="input-group mb-2">
                                        
                                        <input type="text" class="form-control" id="tin" name="name" placeholder="TIN Number" required>
                                    </div>
                                </div>


                                <div class="form-group">
                                        <label>TAN Number  <span style="color: red;margin: 0px">*</span></label>
                                       
                                    <div class="input-group mb-2">
                                           
                                            <input type="text" class="form-control" id="tan" name="name" placeholder="TAN Number" required>
                                        </div>
                                    </div>

                                <div class="form-group">
                                        <label>Email ID  <span style="color: red;margin: 0px">*</span></label>
                                    
                                    <div class="input-group mb-2">
                                       
                                        <input type="email" class="form-control" id="emailId" name="email" placeholder="Enter Email" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                        <label>Mobile Number  <span style="color: red;margin: 0px">*</span></label>
                                    
                                    <div class="input-group mb-2">
                                        
                                        <input type="number" class="form-control" id="contactNumber" name="email" placeholder="Enter Mobile Number" required>
                                    </div>
                                </div>


                                <div class="text-center">
                                    <input type="button" id="submit" value="Save & Send" class="btn btn-primary btn-block rounded-0 py-2">
                                </div>
                            </div>

                        </div>
                    </form>
                    <!--Form with header-->


                </div>
    </div>
</div>


                 </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>  
 
 
  

  
</main>
