

<style>

.category{
    background:#fff;
    font-size: 1.6rem;
    border-radius:3px;
   
}
.ctghead{
    padding: 2px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);

}
.ctghead h3{
    display: inline-flex;
    align-items: center;
    font-size: 0.9rem;
}
.ctghead h3 i{
    font-size:0.9rem;
    margin-right:7px;
   
}

.ctgul{
    margin-top:16px;
    padding:0 0 16px 0;
}
.ctgulChild{
    margin: 0 0 0 30px;
    padding:0 0 10px 0;

}

.ctgliChild{
    font-size: 0.9rem;
    display: block;
    position: relative;
    list-style: none;
    transition:.3s linear;
    /* box-shadow: transparent 0px 14px 13px -12px, transparent 0px 26px 32px -22px; */

}

.ctgli:hover{
    border-left: 4px solid var(--hove);
    background:#d2ffe221;
    /* box-shadow: rgba(50, 50, 93, 0.08) 0px 14px 13px -12px, rgba(0, 0, 0, 0.16) 0px 26px 32px -22px; */
}

.ctga, .ctgaChild{
    
    width: 100%;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 0.9rem;
    line-height: 2.3rem;
    color: #333;
    text-decoration: none;
    padding: 13px 40px 13px 34px;
    position: relative;
    right: 0;
    transition: right linear .3s;
}
.ctga i{
    margin-right:10px;}

.ctgaChild{
    font-size: 0.9rem;
    padding: 13px 13px 13px 36px;
}
.ctga:hover, .ctgaChild:hover{
    /* right:-4px; */
    color:var(--hove);
    
}
.ctgaChild::before {
    top: 50%;
    transform:translateY(-50%);
    left: 20px;
    position: absolute;
    border-style: solid;
    border-color: transparent transparent transparent var(--hove);
    border-width:4px;
    content: "";
    
}
.down{
    position: absolute;
    font-size:0.9rem;
   right:10%;
   top: 50%;
   transform: translateY(-50%) rotate(360deg);
}
.ctgulChild{
    
    display:none;
}
.ctgli{
    display: block;
    position: relative;
    list-style: none;
    border-left: 4px solid transparent;
    transition:.3s linear;
}
.showed{
    background:#d2ffe221;;
    border-left:4px solid var(--hove)!important;
}

.showed .ctga{
    color: var(--hove);
    font-weight:bold;
   }

.showed .ctga i{
    
    font-weight:bold;
    
}
.down {
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.wtok .down {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

/*  base.css*/
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

:root{

    --white:#fff;
    --black:#000;
    --textColor:#333;
    --hove:#04ca88;
}
html{
    font-size:62.5%;
    font-family: 'Muli', sans-serif ;
    line-height:1.6 rem;
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
a{
  text-decoration: none;
}
p{
    font-size:0.4 rem;
    /* 1.6 rem --> 16px */
}

h1{font-size:3rem;}
.grid{
    margin : 0 auto;
    max-width: 1280px;
}

.row{
  display:flex;
  flex-wrap: wrap;
  margin: 0 -12px 0 -12px;
}


.col-3{
  padding:0 12px 0 12px;
  width:calc((100%/12)*3);

}

td{
    font-size: 13px;
}
tr{
    font-size: 13px;
}


</style>

<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-50">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <div class="btn-wrapper">
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
   <section class="section section-lg pt-lg-0 mt--100">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-12">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
      <!--             <h6 class="text-primary text-uppercase"> Contact List- Finance Department As On 23/10/2019</h6>
       -->          

<div class="container-fluid">

  <div class="grid">
                <div class="row">
                    <div class="col-lg-3">
                        <!-- category -->
                        <nav class="category">

                            <!-- <div class="ctghead">

                                <h3><i class="ti-list"></i>Category</h3>
                            </div>
 -->
                            <ul class="ctgul">
                                <li class="ctgli showed">
                                    <a href="http://www.sikkimfred.gov.in/FRBM/Documents/FRBMRules29032016.pdf" class="ctga">
                                        <i class="ti-user"></i>
                                        FRBM Rules</a>
                                </li>

                                <li class="ctgli ">
                                    <a href="http://www.sikkimfred.gov.in/FRBM/Documents/FRBMACT29032016.pdf" class="ctga">
                                        <i class="ti-user"></i>
                                        FRBM Act</a>
                                </li>

                                <li class="ctgli">
                                    <a href="#" class="ctga">
                                        <div class="ok"></div>
                                        <i class="ti-layout"></i>
                                        Amendment To Act
                                        <i class="ti-angle-down down "></i>
                                    </a>


                                    <ul class="ctgulChild">
                                        <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/Amendment29032016.pdf" class="ctgaChild">Amendment Act 2011</a>
                                        </li>
                                        <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/FRBMAmendementAct2016.pdf" class="ctgaChild">Amendment Act 2016</a>
                                        </li>
                                        <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/Frbm%20amendment%20act_02062020122127.pdf" class="ctgaChild">Amendment Act 2020</a>
                                        </li>
                                    </ul>
                                </li>

                              

                                <li class="ctgli">
                                    <a href="#" class="ctga ">
                                        <i class="ti-write"></i>
                                        MTFP Report
                                        <i class="ti-angle-down down "></i>
                                    </a>
                                    <ul class="ctgulChild">
                                        <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2019-20/Sikkim%20MTFP%20%202020-21to%202022-23.pdf" class="ctgaChild">2020-21</a>
                                        </li>
                                        <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2019-20/Sikkim%20MTFP%20-%202019-20.pdf" class="ctgaChild">2019-20</a>
                                        </li>
                                        <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2018-19/Sikkim%20MTFP%20-%202018-19.pdf" class="ctgaChild"> 2018-19</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2017-18/Sikkim%20MTFP%20-%202017-18.pdf" class="ctgaChild"> 2017-18</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2016-17/SikkimMTFP-2016-17.pdf" class="ctgaChild"> 2016-17 </a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2015-16/SIKKIMMTFP2015-16.pdf" class="ctgaChild"> 2015-16</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2014-15/Half%20yearly%20Report%202014-15.pdf" class="ctgaChild"> 2014-15</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/MTFP_2013-14.aspx" class="ctgaChild">2013-14</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/MTFP_2012-13.aspx" class="ctgaChild"> 2012-13</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a [routerLink]="['/FRBM-SMR']" class="ctgaChild">2011-12</a>
                                        </li>

                                    </ul>
                                      

                                </li>




                                <li class="ctgli">
                                    <a href="#" class="ctga ">
                                        <i class="ti-write"></i>
                                        Half Yearly Review
                                        <i class="ti-angle-down down "></i>
                                    </a>
                                    <ul class="ctgulChild">
                                       
                                        <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2019-20/Half%20yearly%20Review%202019-20%20Final.pdf" class="ctgaChild">2019-20</a>
                                        </li>
                                        <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2019-20/Half%20yearly%20Review%202018-19.pdf" class="ctgaChild"> 2018-19</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2017-18/Half%20yearly%20Review%202017-18%20Final.pdf" class="ctgaChild"> 2017-18</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2016-17/Half%20yearly%20Review%202016-17.pdf" class="ctgaChild"> 2016-17 </a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/HalfyearlyReview2015-16final.pdf" class="ctgaChild"> 2015-16</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2014-15/Half%20yearly%20Report%202014-15.pdf" class="ctgaChild"> 2014-15</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/Half_yearly_Report_2013-14.pdf" class="ctgaChild">2013-14</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/Half_yearly_Review_2012_13.pdf" class="ctgaChild"> 2012-13</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a [routerLink]="['/FRBM-SMR']" class="ctgaChild">2011-12</a>
                                        </li>

                                    </ul>
                                      

                                </li>









                                <li class="ctgli">
                                    <a href="#" class="ctga ">
                                        <i class="ti-write"></i>
                                        Compliance Report
                                        <i class="ti-angle-down down "></i>
                                    </a>
                                    <ul class="ctgulChild">
                                       
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2019-20/FRBM%20Compliance%20Report%202016-17.pdf" class="ctgaChild"> 2016-17 </a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2018-19/FRBM%20Compliance%20Report%202015-16.pdf" class="ctgaChild"> 2015-16</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2017-18/Sikkim_FRBM_Act_Compliance_Report_2014-15.pdf" class="ctgaChild"> 2014-15</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/Sikkim_FRBM_Act_Compliance_Report_-_2013-14jena.pdf" class="ctgaChild">2013-14</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/SikkimFRBActComplianceReport-2012-13DrJena6.5.15.pdf" class="ctgaChild"> 2012-13</a>
                                        

                                    </ul>
                                      

                                </li>




                            </ul>



                        </nav>




                    </div>

<div class="col-lg-3">
    

<table style="border:solid 1px gray; width:858px;" class="table-responsive table table-striped">
<tr>
        <td colspan="2" style="border-bottom:solid 1px gray; text-align:center; height:30px;"><h2>Department of Finance</h2>
            </td>
</tr>

<tr >
                <td colspan="2" class="td2"
                        
                        style="border:1px solid; text-align:CENTER; color: black; font-size: large;">Six Monthly Review Report (2011-12)</td>
                </tr>
<tr>
        <td colspan="2" style="color:Black;">
      
        

    
    <table>
 <tr>
    <td style="background-image:url(../FRBM/documents/SMR1.jpg); width:740px; height:910px; text-align:center;">
</td>
 </tr>
    </table>
      


           </td>
           
</tr>
<tr >
    <td  class="amd" colspan=2 style="text-align:center; padding-bottom:3px; "><li><a href="../FRBM/SMR2.aspx" style="color:Black;">Next</a></li></td>
</tr>



</table>

</div>
</div>
 </div>
</div>



                

                 </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>  
 
 
  

  
</main>
