

<style>

.category{
    background:#fff;
    font-size: 1.6rem;
    border-radius:3px;
   
}
.ctghead{
    padding: 2px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);

}
.ctghead h3{
    display: inline-flex;
    align-items: center;
    font-size: 0.9rem;
}
.ctghead h3 i{
    font-size:0.9rem;
    margin-right:7px;
   
}

.ctgul{
    margin-top:16px;
    padding:0 0 16px 0;
}
.ctgulChild{
    margin: 0 0 0 30px;
    padding:0 0 10px 0;

}

.ctgliChild{
    font-size: 0.9rem;
    display: block;
    position: relative;
    list-style: none;
    transition:.3s linear;
    /* box-shadow: transparent 0px 14px 13px -12px, transparent 0px 26px 32px -22px; */

}

.ctgli:hover{
    border-left: 4px solid var(--hove);
    background:#d2ffe221;
    /* box-shadow: rgba(50, 50, 93, 0.08) 0px 14px 13px -12px, rgba(0, 0, 0, 0.16) 0px 26px 32px -22px; */
}

.ctga, .ctgaChild{
    
    width: 100%;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 0.9rem;
    line-height: 2.3rem;
    color: #333;
    text-decoration: none;
    padding: 13px 40px 13px 34px;
    position: relative;
    right: 0;
    transition: right linear .3s;
}
.ctga i{
    margin-right:10px;}

.ctgaChild{
    font-size: 0.9rem;
    padding: 13px 13px 13px 36px;
}
.ctga:hover, .ctgaChild:hover{
    /* right:-4px; */
    color:var(--hove);
    
}
.ctgaChild::before {
    top: 50%;
    transform:translateY(-50%);
    left: 20px;
    position: absolute;
    border-style: solid;
    border-color: transparent transparent transparent var(--hove);
    border-width:4px;
    content: "";
    
}
.down{
    position: absolute;
    font-size:0.9rem;
   right:10%;
   top: 50%;
   transform: translateY(-50%) rotate(360deg);
}
.ctgulChild{
    
    display:none;
}
.ctgli{
    display: block;
    position: relative;
    list-style: none;
    border-left: 4px solid transparent;
    transition:.3s linear;
}
.showed{
    background:#d2ffe221;;
    border-left:4px solid var(--hove)!important;
}

.showed .ctga{
    color: var(--hove);
    font-weight:bold;
   }

.showed .ctga i{
    
    font-weight:bold;
    
}
.down {
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.wtok .down {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

/*  base.css*/
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

:root{

    --white:#fff;
    --black:#000;
    --textColor:#333;
    --hove:#04ca88;
}
html{
    font-size:62.5%;
    font-family: 'Muli', sans-serif ;
    line-height:1.6 rem;
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
a{
  text-decoration: none;
}
p{
    font-size:0.4 rem;
    /* 1.6 rem --> 16px */
}

h1{font-size:3rem;}
.grid{
    margin : 0 auto;
    max-width: 1280px;
}

.row{
  display:flex;
  flex-wrap: wrap;
  margin: 0 -12px 0 -12px;
}


.col-3{
  padding:0 12px 0 12px;
  width:calc((100%/12)*3);

}

td{
    font-size: 13px;
}
tr{
    font-size: 13px;
}


</style>

<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-50">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <div class="btn-wrapper">
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
   <section class="section section-lg pt-lg-0 mt--100">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-12">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
      <!--             <h6 class="text-primary text-uppercase"> Contact List- Finance Department As On 23/10/2019</h6>
       -->          

<div class="container-fluid">

  <div class="grid">
                <div class="row">
                    <div class="col-lg-3">
                        <!-- category -->
                        <nav class="category">

                            <!-- <div class="ctghead">

                                <h3><i class="ti-list"></i>Category</h3>
                            </div>
 -->
                            <ul class="ctgul">
                                <li class="ctgli showed">
                                    <a href="http://www.sikkimfred.gov.in/FRBM/Documents/FRBMRules29032016.pdf" class="ctga">
                                        <i class="ti-user"></i>
                                        FRBM Rules</a>
                                </li>

                                <li class="ctgli ">
                                    <a href="http://www.sikkimfred.gov.in/FRBM/Documents/FRBMACT29032016.pdf" class="ctga">
                                        <i class="ti-user"></i>
                                        FRBM Act</a>
                                </li>

                                <li class="ctgli">
                                    <a href="#" class="ctga">
                                        <div class="ok"></div>
                                        <i class="ti-layout"></i>
                                        Amendment To Act
                                        <i class="ti-angle-down down "></i>
                                    </a>


                                    <ul class="ctgulChild">
                                        <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/Amendment29032016.pdf" class="ctgaChild">Amendment Act 2011</a>
                                        </li>
                                        <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/FRBMAmendementAct2016.pdf" class="ctgaChild">Amendment Act 2016</a>
                                        </li>
                                        <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/Frbm%20amendment%20act_02062020122127.pdf" class="ctgaChild">Amendment Act 2020</a>
                                        </li>
                                    </ul>
                                </li>

                              

                                <li class="ctgli">
                                    <a href="#" class="ctga ">
                                        <i class="ti-write"></i>
                                        MTFP Report
                                        <i class="ti-angle-down down "></i>
                                    </a>
                                    <ul class="ctgulChild">
                                        <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2019-20/Sikkim%20MTFP%20%202020-21to%202022-23.pdf" class="ctgaChild">2020-21</a>
                                        </li>
                                        <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2019-20/Sikkim%20MTFP%20-%202019-20.pdf" class="ctgaChild">2019-20</a>
                                        </li>
                                        <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2018-19/Sikkim%20MTFP%20-%202018-19.pdf" class="ctgaChild"> 2018-19</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2017-18/Sikkim%20MTFP%20-%202017-18.pdf" class="ctgaChild"> 2017-18</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2016-17/SikkimMTFP-2016-17.pdf" class="ctgaChild"> 2016-17 </a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2015-16/SIKKIMMTFP2015-16.pdf" class="ctgaChild"> 2015-16</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2014-15/Half%20yearly%20Report%202014-15.pdf" class="ctgaChild"> 2014-15</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/MTFP_2013-14.aspx" class="ctgaChild">2013-14</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/MTFP_2012-13.aspx" class="ctgaChild"> 2012-13</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a [routerLink]="['/FRBM-SMR']"class="ctgaChild">2011-12</a>
                                        </li>

                                    </ul>
                                      

                                </li>




                                <li class="ctgli">
                                    <a href="#" class="ctga ">
                                        <i class="ti-write"></i>
                                        Half Yearly Review
                                        <i class="ti-angle-down down "></i>
                                    </a>
                                    <ul class="ctgulChild">
                                       
                                        <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2019-20/Half%20yearly%20Review%202019-20%20Final.pdf" class="ctgaChild">2019-20</a>
                                        </li>
                                        <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2019-20/Half%20yearly%20Review%202018-19.pdf" class="ctgaChild"> 2018-19</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2017-18/Half%20yearly%20Review%202017-18%20Final.pdf" class="ctgaChild"> 2017-18</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2016-17/Half%20yearly%20Review%202016-17.pdf" class="ctgaChild"> 2016-17 </a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/HalfyearlyReview2015-16final.pdf" class="ctgaChild"> 2015-16</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2014-15/Half%20yearly%20Report%202014-15.pdf" class="ctgaChild"> 2014-15</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/Half_yearly_Report_2013-14.pdf" class="ctgaChild">2013-14</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/Half_yearly_Review_2012_13.pdf" class="ctgaChild"> 2012-13</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a [routerLink]="['/FRBM-SMR']" class="ctgaChild">2011-12</a>
                                        </li>

                                    </ul>
                                      

                                </li>









                                <li class="ctgli">
                                    <a href="#" class="ctga ">
                                        <i class="ti-write"></i>
                                        Compliance Report
                                        <i class="ti-angle-down down "></i>
                                    </a>
                                    <ul class="ctgulChild">
                                       
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2019-20/FRBM%20Compliance%20Report%202016-17.pdf" class="ctgaChild"> 2016-17 </a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2018-19/FRBM%20Compliance%20Report%202015-16.pdf" class="ctgaChild"> 2015-16</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/2017-18/Sikkim_FRBM_Act_Compliance_Report_2014-15.pdf" class="ctgaChild"> 2014-15</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/Sikkim_FRBM_Act_Compliance_Report_-_2013-14jena.pdf" class="ctgaChild">2013-14</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="http://www.sikkimfred.gov.in/FRBM/Documents/SikkimFRBActComplianceReport-2012-13DrJena6.5.15.pdf" class="ctgaChild"> 2012-13</a>
                                        

                                    </ul>
                                      

                                </li>




                            </ul>



                        </nav>




                    </div>

<div class="col-lg-3">
    

<table style="border:solid 1px gray; width:858px;" class="table table-responsive table-striped ">
<tr>
        <td colspan="2" style="border-bottom:solid 1px gray; text-align:center; height:30px;"><h2>Department of Finance</h2>
            </td>
</tr>

<tr >
                <td colspan="2" class="td2"
                        
                        style="border:1px solid; text-align:CENTER; color: #FFFFFF; font-size: large;">Sikkim Fiscal Responsibility and Budget Management Rules</td>
                </tr>
<tr>
        <td colspan="2" style="color:Black;">
      
        
    <center >   
      
<p ALIGN=CENTER STYLE="margin-left: 0.11cm; margin-bottom: 0cm">Notification</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">In exercise of the powers conferred by
section 8 of the Sikkim Fiscal Responsibility and Budget Management
Act, 2010 (Act No. --- of 2010) the Government of Sikkim hereby makes
the following rules, namely:&mdash;</p>
<p STYLE="margin-bottom: 0cm">By order and in the name of the
Governor of Sikkim.</p>
<p STYLE="margin-bottom: 0cm">------------------, Commissioner &amp;
Secretary, Finance.</p>
<p STYLE="margin-bottom: 0cm">Gangtok, Date, 2010.</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">The Sikkim Fiscal Responsibility and
Budget Management Act, 2010 (Act No. ---2010)</p>
<p STYLE="margin-bottom: 0cm">Rules</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<OL>
    <LI><p STYLE="margin-bottom: 0cm">Short title and commencement. &mdash;
    (1) These rules may be called the Sikkim Fiscal Responsibility and
    Budget Management Rules, 2007.</p>
</OL>
<p STYLE="margin-bottom: 0cm">(2) They shall come into force with
immediate effect.</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">2. Definitions. &mdash; In these rules,
unless the context otherwise requires,&ndash;</p>
<p STYLE="margin-bottom: 0cm">(a) &ldquo;Act&rdquo; means the Sikkim
Fiscal Responsibility and Budget Management Act, 2010;</p>
<p STYLE="margin-bottom: 0cm">(b) &ldquo;Form&rdquo; means a form
appended to these rules;</p>
<p STYLE="margin-bottom: 0cm">(c) &ldquo;Section&rdquo; means a
section of the Act;</p>
<p STYLE="margin-bottom: 0cm">(d) Words and expressions used herein
but not defined and defined in the Act shall have the       meanings
respectively assigned to them in the Act.</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<OL START=3>
    <LI><p STYLE="margin-bottom: 0cm">Medium Term Fiscal Plan</p>
</OL>
<p STYLE="margin-left: 1.27cm; margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">(1) The Medium Term Fiscal Plan, as
required under sub-section (1) of section 3, of the Act shall include
in Form F-2 three years rolling targets in respect of the following
fiscal indicators:</p>
<p STYLE="margin-bottom: 0cm">(a) Revenue deficit as a percentage of
GSDP;</p>
<p STYLE="margin-bottom: 0cm">(b) Fiscal deficit as a percentage of
GSDP;</p>
<p STYLE="margin-bottom: 0cm">(c) Total outstanding debt as a
percentage of GSDP;</p>
<p STYLE="margin-bottom: 0cm">(d) Primary deficit / surplus as a
percentage of GSDP.</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">(2) The Medium Term Fiscal Plan shall
also explain the assumptions underlying the abovementioned targets
for fiscal indicators and an assessment of sustainability relating to
the items indicated in sub-section (2) of section 3 of the Act.</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">(3) The Medium Term Fiscal Plan shall
contain the medium term fiscal objectives of the Government, the
evaluation of performance of the prescribed fiscal indicators etc.,
as indicated in sub-section (4) of section 3 of the Act, in the Form
F-1.</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">4. Disclosures.&mdash;</p>
<p STYLE="margin-bottom: 0cm">(1) The State Government shall, at the
time of presenting the budget, make disclosures as required under
section 6 of the Act together with the following statements:</p>
<p STYLE="margin-bottom: 0cm">(a) a statement of select indicators of
fiscal situation in Form D-1;</p>
<p STYLE="margin-bottom: 0cm">(b) a statement on components of State
Government Liabilities in Form D-2;</p>
<p STYLE="margin-bottom: 0cm">(b) a statement on guarantees given by
the Government in Form D-3;</p>
<p STYLE="margin-bottom: 0cm">(c) a statement giving details of
number of employees in Government, public sector and aided
institutions and related salaries and pensions in Form D-4.</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">5. Measures to enforce compliance</p>
<p STYLE="margin-bottom: 0cm">In case the outcome of the quarterly
reviews of trends in receipts and expenditure, at the end of the
second quarter of any financial year shows that&mdash;</p>
<p STYLE="margin-bottom: 0cm">(i) the total non-debt receipts are
less than 40 per cent of Budget Estimates for that year; or</p>
<p STYLE="margin-bottom: 0cm">(ii) the fiscal deficit is higher than
45 per cent of the Budget Estimates for that year; or</p>
<p STYLE="margin-bottom: 0cm">(iii) the revenue deficit is higher
than 45 per cent of the Budget Estimates for that year;</p>
<p STYLE="margin-bottom: 0cm">then&ndash;</p>
<p STYLE="margin-bottom: 0cm">as required under sub-section (2) of
section 7 of the said Act, the Minister-in-charge of the Ministry of
Finance shall make a statement in the Legislature during the session
immediately following the end of the second quarter detailing the
corrective measures taken and the prospects for the fiscal deficit of
that financial year.</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">Form F-1</p>
<p STYLE="margin-bottom: 0cm">(See Rule 3)</p>
<p STYLE="margin-bottom: 0cm">Medium Term Fiscal Plan</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">A. Fiscal Policy Overview. &mdash;
[This section will present an overview of the fiscal policy currently
in vogue.]</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">B. Fiscal policy for the ensuing year.
&mdash; This section shall have, inter alia, following components;</p>
<p STYLE="margin-bottom: 0cm">(1) Tax Policy</p>
<p STYLE="margin-bottom: 0cm">This will include major changes
proposed to be introduced in direct and indirect taxes in the ensuing
financial year will be presented. It shall contain an assessment of
exemption in various taxes and how far it relates to principles
regarding tax exemptions.</p>
<p STYLE="margin-bottom: 0cm">(2) Expenditure Policy</p>
<p STYLE="margin-bottom: 0cm">Under expenditure policy, major
priorities in the allocation of expenditure shall be elaborated. It
may also contain an assessment of principles regarding the benefits
and target group of beneficiaries. It should describe the steps taken
towards expenditure restructuring relating to both in size and
sectoral allocations aimed at removing inefficiencies arising from
misallocations, design and implementation of schemes, delivery of
services.</p>
<p STYLE="margin-bottom: 0cm">(3) Government Borrowings, Lending and
Investments</p>
<p STYLE="margin-bottom: 0cm">In this subparagraph, the policy
relating to government internal borrowings, lending and recovery of
loans and advances etc. shall be indicated.</p>
<p STYLE="margin-bottom: 0cm">(4) Other liabilities &ndash; This
sub-paragraph shall include information relating to guarantees and
off-budget borrowings of Government having potential budgetary
implications. It would also include details relating to one-time
settlement of such liabilities, measures to limit the guarantees etc</p>
<p STYLE="margin-bottom: 0cm">(6) Levy of User Charges</p>
<p STYLE="margin-bottom: 0cm">Any change proposed in the levy of user
charges of public services shall be spelt out.</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">C. Strategic priorities for the ensuing
year.&mdash;</p>
<p STYLE="margin-bottom: 0cm">(1) Resource mobilization for the
ensuing financial year through tax, non-tax and other receipts shall
be spelt out.</p>
<p STYLE="margin-bottom: 0cm">(2) The broad principles underlying the
expenditure management during the ensuing year shall be spelt out.</p>
<p STYLE="margin-bottom: 0cm">(3) Priorities relating to management
of public debt proposed during the ensuing year shall be indicated.</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">D. Rationale for Policy changes.&mdash;</p>
<p STYLE="margin-bottom: 0cm">(1) The rationale for policy changes
consistent with the Medium Term Fiscal Plan, in respect of taxes
proposed in the ensuing Budget shall be spelt out.</p>
<p STYLE="margin-bottom: 0cm">(2) The rationale for major policy
changes in respect of budgeted expenditure including expenditure on
subsidies and pensions shall be indicated.</p>
<p STYLE="margin-bottom: 0cm">(3) Rationale for changes, if any,
proposed in the management of the public debt shall be indicated.</p>
<p STYLE="margin-bottom: 0cm">(4) The need for changes, if any,
proposed in respect of the charges for public utilities shall be
spelt out.</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">E. Policy Evaluation.&mdash;</p>
<p STYLE="margin-bottom: 0cm">The paragraph shall contain an
evaluation of the changes proposed in the fiscal policy for the
ensuing year with reference to fiscal deficit reduction and
objectives set out in the Medium Term Fiscal Plan.</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">Form F - 2</p>
<p STYLE="margin-bottom: 0cm">(See Rule 3)</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<OL TYPE=A>
    <LI><p STYLE="margin-bottom: 0cm">Fiscal Indicators  - Rolling
    Targets</p>
</OL>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<table class="tab1" WIDTH=592 BORDER=1 BORDERCOLOR="#000001" CELLPADDING=3 CELLSPACING=0>
     <tr>
        <td ROWSPAN=2 WIDTH=84 HEIGHT=4>
            <p><BR>
            </p>
        </td>
        <td ROWSPAN=2 COLSPAN=2 WIDTH=85>
            <p>Previous Year (Y-2) Actuals</p>
        </td>
        <td ROWSPAN=2 COLSPAN=2 WIDTH=85>
            <p>Current Year (Y-1) Revised Estimates</p>
        </td>
        <td ROWSPAN=2 COLSPAN=2 WIDTH=85>
            <p>Ensuing Year (Y) Budget Estimates</p>
        </td>
        <td COLSPAN=3 WIDTH=182>
            <p STYLE="margin-bottom: 0cm">Targets for Nest Two Years</p>
            <p><BR>
            </p>
        </td>
    </tr>
    <tr VALIGN=TOP>
        <td WIDTH=74>
            <p>Y+1</p>
        </td>
        <td WIDTH=64>
            <p>Y+2</p>
        </td>
    </tr>
    <tr VALIGN=TOP>
        <td COLSPAN=2 WIDTH=139 HEIGHT=5>
            <p>Revenue Deficit as percentage of GSDP</p>
        </td>
        <td COLSPAN=2 WIDTH=76>
            <p><BR>
            </p>
        </td>
        <td COLSPAN=2 WIDTH=77>
            <p><BR>
            </p>
        </td>
        <td COLSPAN=2 WIDTH=77>
            <p><BR>
            </p>
        </td>
        <td WIDTH=74>
            <p><BR>
            </p>
        </td>
        <td WIDTH=64>
            <p><BR>
            </p>
        </td>
    </tr>
    <tr VALIGN=TOP>
        <td COLSPAN=2 WIDTH=139 HEIGHT=5>
            <p STYLE="margin-bottom: 0cm">Fiscal Deficit as</p>
            <p>percentage of GSDP</p>
        </td>
        <td COLSPAN=2 WIDTH=76>
            <p><BR>
            </p>
        </td>
        <td COLSPAN=2 WIDTH=77>
            <p><BR>
            </p>
        </td>
        <td COLSPAN=2 WIDTH=77>
            <p><BR>
            </p>
        </td>
        <td WIDTH=74>
            <p><BR>
            </p>
        </td>
        <td WIDTH=64>
            <p><BR>
            </p>
        </td>
    </tr>
    <tr VALIGN=TOP>
        <td COLSPAN=2 WIDTH=139 HEIGHT=5>
            <p STYLE="margin-bottom: 0cm">Primary Deficit as</p>
            <p>percentage of GSDP</p>
        </td>
        <td COLSPAN=2 WIDTH=76>
            <p><BR>
            </p>
        </td>
        <td COLSPAN=2 WIDTH=77>
            <p><BR>
            </p>
        </td>
        <td COLSPAN=2 WIDTH=77>
            <p><BR>
            </p>
        </td>
        <td WIDTH=74>
            <p><BR>
            </p>
        </td>
        <td WIDTH=64>
            <p><BR>
            </p>
        </td>
    </tr>
    <tr VALIGN=TOP>
        <td COLSPAN=2 WIDTH=139 HEIGHT=4>
            <p STYLE="margin-bottom: 0cm">Total Debt Stock as</p>
            <p>percentage of GSDP</p>
        </td>
        <td COLSPAN=2 WIDTH=76>
            <p><BR>
            </p>
        </td>
        <td COLSPAN=2 WIDTH=77>
            <p><BR>
            </p>
        </td>
        <td COLSPAN=2 WIDTH=77>
            <p><BR>
            </p>
        </td>
        <td WIDTH=74>
            <p><BR>
            </p>
        </td>
        <td WIDTH=64>
            <p><BR>
            </p>
        </td>
    </tr>
</table>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">B. Assumption underlying the Fiscal
Indicators</p>
<p STYLE="margin-bottom: 0cm">1. Revenue receipts</p>
<p STYLE="margin-bottom: 0cm">(a) Tax-revenue-Sectoral and GSDP
growth rates;</p>
<p STYLE="margin-bottom: 0cm">(b) Non-tax-revenue-Policy;</p>
<p STYLE="margin-bottom: 0cm">(c) Share of own tax revenue to total
tax revenue;</p>
<p STYLE="margin-bottom: 0cm">(d) Share of own non-tax revenue to
total non-tax revenue.</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">2. Capital receipts&mdash; Debt stock,
repayment, fresh loans and policy stance</p>
<p STYLE="margin-bottom: 0cm">(a) Loans and advances from the Centre;</p>
<p STYLE="margin-bottom: 0cm">(b) Special securities issues to the
NSSF;</p>
<p STYLE="margin-bottom: 0cm">(c) Recovery of loans and advances;</p>
<p STYLE="margin-bottom: 0cm">(d) Borrowings from financial
institutions;</p>
<p STYLE="margin-bottom: 0cm">(e) Other receipts (net)-small savings,
provident funds, etc.;</p>
<p STYLE="margin-bottom: 0cm">(f) Outstanding Liabilities-Internal
Debt and Other Liabilities.</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">3. Total expenditure&mdash; Policy
Stances</p>
<p STYLE="margin-bottom: 0cm">(a) Revenue account</p>
<p STYLE="margin-bottom: 0cm">(i) Interest payments 
</p>
<p STYLE="margin-bottom: 0cm">(ii) Major subsidies</p>
<p STYLE="margin-bottom: 0cm">(iii) Salaries</p>
<p STYLE="margin-bottom: 0cm">(iv) Pensions</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">(b) Capital account</p>
<p STYLE="margin-bottom: 0cm">(i) Loans and advances</p>
<p STYLE="margin-bottom: 0cm">(ii) Capital Outlay</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<OL START=3>
    <LI><p STYLE="margin-bottom: 0cm">GSDP Growth</p>
</OL>
<p STYLE="margin-left: 1.27cm; margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">C. Assessment of sustainability
relating to:</p>
<p STYLE="margin-bottom: 0cm">(i) The balance between receipts and
expenditure in general and revenue receipts and revenue expenditure
in particular. The Medium Term Fiscal Policy Statement may specify
the tax-GSDP ratio, own tax-GSDP ratio and State&rsquo;s share in
Central tax-GSDP ratio for the current year and subsequent two years
with an assessment of the changes required for achieving it. It may
discuss the non-tax revenues and the policies concerning the same.
Expenditure on revenue account, both plan and non-plan may be also
discussed with particular emphasis on the measures proposed to meet
the overall objectives. It may discuss policies to contain
expenditure on salaries, pension, subsidies and interest payments. An
assessment of the capital receipts shall be made, including the
borrowings and other liabilities, as per policies spelt out. The
statement shall also give projections for GSDP and discuss it on the
basis of assumptions underlying the indicators in achieving the
sustainability objective.</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">(ii) The use of capital receipts
including market borrowings for generating productive assets. The
Medium Term Fiscal Policy Statement may specify the proposed use of
capital receipts for generating productive assets in different
categories. It may also spell out the proposed changes among these
categories and discuss them in terms of the overall policy of the
Government.</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">Form D-1</p>
<p STYLE="margin-bottom: 0cm">(See Rule 4)</p>
<p STYLE="margin-bottom: 0cm">Select Fiscal Indicators</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<table class="tab1" WIDTH=592 BORDER=1 BORDERCOLOR="#000001" CELLPADDING=7 CELLSPACING=0>
     <tr>
        <td WIDTH=28 HEIGHT=4>
            <p>Sl. No.</p>
        </td>
        <td WIDTH=322>
            <p>Item</p>
        </td>
        <td WIDTH=94>
            <p STYLE="margin-bottom: 0cm">Previous Year</p>
            <p>(Actuals)</p>
        </td>
        <td WIDTH=90>
            <p STYLE="margin-bottom: 0cm">Current Year 
            </p>
            <p>(RE)</p>
        </td>
    </tr>
    <tr VALIGN=TOP>
        <td WIDTH=28 HEIGHT=5>
            <p>1</p>
        </td>
        <td WIDTH=322>
            <p>Gross Fiscal Deficit as Percentage to GSDP</p>
        </td>
        <td WIDTH=94>
            <p><BR>
            </p>
        </td>
        <td WIDTH=90>
            <p><BR>
            </p>
        </td>
    </tr>
    <tr VALIGN=TOP>
        <td WIDTH=28 HEIGHT=5>
            <p>2</p>
        </td>
        <td WIDTH=322>
            <p>Revenue Deficit as Percentage of GSDP</p>
        </td>
        <td WIDTH=94>
            <p><BR>
            </p>
        </td>
        <td WIDTH=90>
            <p><BR>
            </p>
        </td>
    </tr>
    <tr VALIGN=TOP>
        <td WIDTH=28 HEIGHT=5>
            <p>3</p>
        </td>
        <td WIDTH=322>
            <p>Revenue Deficit as Percentage of Gross Fiscal Deficit</p>
        </td>
        <td WIDTH=94>
            <p><BR>
            </p>
        </td>
        <td WIDTH=90>
            <p><BR>
            </p>
        </td>
    </tr>
    <tr VALIGN=TOP>
        <td WIDTH=28 HEIGHT=5>
            <p>4</p>
        </td>
        <td WIDTH=322>
            <p>Revenue deficit as Percentage of TRR</p>
        </td>
        <td WIDTH=94>
            <p><BR>
            </p>
        </td>
        <td WIDTH=90>
            <p><BR>
            </p>
        </td>
    </tr>
    <tr VALIGN=TOP>
        <td WIDTH=28 HEIGHT=5>
            <p>5</p>
        </td>
        <td WIDTH=322>
            <p>Debt Stock as Percentage of GSDP</p>
        </td>
        <td WIDTH=94>
            <p><BR>
            </p>
        </td>
        <td WIDTH=90>
            <p><BR>
            </p>
        </td>
    </tr>
    <tr VALIGN=TOP>
        <td WIDTH=28 HEIGHT=5>
            <p>6</p>
        </td>
        <td WIDTH=322>
            <p>Total Liabilities as Percentage to GSDP</p>
        </td>
        <td WIDTH=94>
            <p><BR>
            </p>
        </td>
        <td WIDTH=90>
            <p><BR>
            </p>
        </td>
    </tr>
    <tr VALIGN=TOP>
        <td WIDTH=28 HEIGHT=5>
            <p>7</p>
        </td>
        <td WIDTH=322>
            <p>Capital Outlay as Percentage of Gross Fiscal Deficit</p>
        </td>
        <td WIDTH=94>
            <p><BR>
            </p>
        </td>
        <td WIDTH=90>
            <p><BR>
            </p>
        </td>
    </tr>
    <tr VALIGN=TOP>
        <td WIDTH=28 HEIGHT=5>
            <p>8</p>
        </td>
        <td WIDTH=322>
            <p>Interest Payment as Percentage of TRR</p>
        </td>
        <td WIDTH=94>
            <p><BR>
            </p>
        </td>
        <td WIDTH=90>
            <p><BR>
            </p>
        </td>
    </tr>
    <tr VALIGN=TOP>
        <td WIDTH=28 HEIGHT=5>
            <p>9</p>
        </td>
        <td WIDTH=322>
            <p>Salary Expenditure as Percentage of TRR</p>
        </td>
        <td WIDTH=94>
            <p><BR>
            </p>
        </td>
        <td WIDTH=90>
            <p><BR>
            </p>
        </td>
    </tr>
    <tr VALIGN=TOP>
        <td WIDTH=28 HEIGHT=5>
            <p>10</p>
        </td>
        <td WIDTH=322>
            <p>Pension Exp. As Percentage of TRR</p>
        </td>
        <td WIDTH=94>
            <p><BR>
            </p>
        </td>
        <td WIDTH=90>
            <p><BR>
            </p>
        </td>
    </tr>
    <tr VALIGN=TOP>
        <td WIDTH=28 HEIGHT=5>
            <p>11</p>
        </td>
        <td WIDTH=322>
            <p>Non-development Expenditure as Percentage of Aggregate
            Disbursements</p>
        </td>
        <td WIDTH=94>
            <p><BR>
            </p>
        </td>
        <td WIDTH=90>
            <p><BR>
            </p>
        </td>
    </tr>
    <tr VALIGN=TOP>
        <td WIDTH=28 HEIGHT=4>
            <p>12</p>
        </td>
        <td WIDTH=322>
            <p>Non-tax Revenue as Percentage of TRR</p>
        </td>
        <td WIDTH=94>
            <p><BR>
            </p>
        </td>
        <td WIDTH=90>
            <p><BR>
            </p>
        </td>
    </tr>
</table>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">Form D-2</p>
<p STYLE="margin-bottom: 0cm">(See Rule 4)</p>
<p STYLE="margin-bottom: 0cm">Components of State Government
Liabilities</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<CENTER>
    <table class="tab1" WIDTH=592 BORDER=1 BORDERCOLOR="#000001" CELLPADDING=7 CELLSPACING=0>
         
        <tr>
            <td ROWSPAN=2 WIDTH=70 HEIGHT=4>
                <p>Category</p>
            </td>
            <td COLSPAN=2 WIDTH=71>
                <p>Raised during the fiscal year</p>
            </td>
            <td COLSPAN=2 WIDTH=71>
                <p>Repayment during the fiscal year</p>
            </td>
            <td COLSPAN=5 WIDTH=324>
                <p STYLE="margin-bottom: 0cm">Outstanding Amount</p>
                <p>(End March)</p>
            </td>
        </tr>
        <tr>
            <td COLSPAN=2 WIDTH=63>
                <p>Previous Year (Actuals)</p>
            </td>
            <td COLSPAN=2 WIDTH=63>
                <p STYLE="margin-bottom: 0cm">Current year</p>
                <p>(RE)</p>
            </td>
            <td WIDTH=71>
                <p>Previous Year (Actuals)</p>
            </td>
            <td WIDTH=62>
                <p STYLE="margin-bottom: 0cm">Current year</p>
                <p>(RE)</p>
            </td>
            <td WIDTH=76>
                <p>Previous Year (Actuals)</p>
            </td>
            <td WIDTH=61>
                <p STYLE="margin-bottom: 0cm">Current year</p>
                <p>(RE)</p>
            </td>
        </tr>
        <tr VALIGN=TOP>
            <td COLSPAN=2 WIDTH=96 HEIGHT=5>
                <p>Internal Debt 
                </p>
            </td>
            <td COLSPAN=2 WIDTH=63>
                <p><BR>
                </p>
            </td>
            <td COLSPAN=2 WIDTH=63>
                <p><BR>
                </p>
            </td>
            <td WIDTH=71>
                <p><BR>
                </p>
            </td>
            <td WIDTH=62>
                <p><BR>
                </p>
            </td>
            <td WIDTH=76>
                <p><BR>
                </p>
            </td>
            <td WIDTH=61>
                <p><BR>
                </p>
            </td>
        </tr>
        <tr VALIGN=TOP>
            <td COLSPAN=2 WIDTH=96 HEIGHT=5>
                <p>Loan from Centre</p>
            </td>
            <td COLSPAN=2 WIDTH=63>
                <p><BR>
                </p>
            </td>
            <td COLSPAN=2 WIDTH=63>
                <p><BR>
                </p>
            </td>
            <td WIDTH=71>
                <p><BR>
                </p>
            </td>
            <td WIDTH=62>
                <p><BR>
                </p>
            </td>
            <td WIDTH=76>
                <p><BR>
                </p>
            </td>
            <td WIDTH=61>
                <p><BR>
                </p>
            </td>
        </tr>
        <tr VALIGN=TOP>
            <td COLSPAN=2 WIDTH=96 HEIGHT=5>
                <p>State Provident Funds</p>
            </td>
            <td COLSPAN=2 WIDTH=63>
                <p><BR>
                </p>
            </td>
            <td COLSPAN=2 WIDTH=63>
                <p><BR>
                </p>
            </td>
            <td WIDTH=71>
                <p><BR>
                </p>
            </td>
            <td WIDTH=62>
                <p><BR>
                </p>
            </td>
            <td WIDTH=76>
                <p><BR>
                </p>
            </td>
            <td WIDTH=61>
                <p><BR>
                </p>
            </td>
        </tr>
        <tr VALIGN=TOP>
            <td COLSPAN=2 WIDTH=96 HEIGHT=5>
                <p>Insurance and Pension Funds</p>
            </td>
            <td COLSPAN=2 WIDTH=63>
                <p><BR>
                </p>
            </td>
            <td COLSPAN=2 WIDTH=63>
                <p><BR>
                </p>
            </td>
            <td WIDTH=71>
                <p><BR>
                </p>
            </td>
            <td WIDTH=62>
                <p><BR>
                </p>
            </td>
            <td WIDTH=76>
                <p><BR>
                </p>
            </td>
            <td WIDTH=61>
                <p><BR>
                </p>
            </td>
        </tr>
        <tr VALIGN=TOP>
            <td COLSPAN=2 WIDTH=96 HEIGHT=5>
                <p>Reserve Funds/Deposits</p>
            </td>
            <td COLSPAN=2 WIDTH=63>
                <p><BR>
                </p>
            </td>
            <td COLSPAN=2 WIDTH=63>
                <p><BR>
                </p>
            </td>
            <td WIDTH=71>
                <p><BR>
                </p>
            </td>
            <td WIDTH=62>
                <p><BR>
                </p>
            </td>
            <td WIDTH=76>
                <p><BR>
                </p>
            </td>
            <td WIDTH=61>
                <p><BR>
                </p>
            </td>
        </tr>
        <tr VALIGN=TOP>
            <td COLSPAN=2 WIDTH=96 HEIGHT=4>
                <p>Other Liabilities</p>
            </td>
            <td COLSPAN=2 WIDTH=63>
                <p><BR>
                </p>
            </td>
            <td COLSPAN=2 WIDTH=63>
                <p><BR>
                </p>
            </td>
            <td WIDTH=71>
                <p><BR>
                </p>
            </td>
            <td WIDTH=62>
                <p><BR>
                </p>
            </td>
            <td WIDTH=76>
                <p><BR>
                </p>
            </td>
            <td WIDTH=61>
                <p><BR>
                </p>
            </td>
        </tr>
    </table>
</CENTER>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">Form D-3</p>
<p STYLE="margin-bottom: 0cm">(See Rule 4)</p>
<p STYLE="margin-bottom: 0cm">Guarantees Given by the Government</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<table class="tab1" WIDTH=592 BORDER=1 BORDERCOLOR="#000001" CELLPADDING=7 CELLSPACING=0>
    <COL WIDTH=103>
    <COL WIDTH=104>
    <COL WIDTH=104>
    <COL WIDTH=104>
    <COL WIDTH=103>
    <tr VALIGN=TOP>
        <td WIDTH=103 HEIGHT=4>
            <p><BR>
            </p>
        </td>
        <td WIDTH=104>
            <p><BR>
            </p>
        </td>
        <td WIDTH=104>
            <p><BR>
            </p>
        </td>
        <td WIDTH=104>
            <p><BR>
            </p>
        </td>
        <td WIDTH=103>
            <p><BR>
            </p>
        </td>
    </tr>
    <tr VALIGN=TOP>
        <td WIDTH=103 HEIGHT=5>
            <p><BR>
            </p>
        </td>
        <td WIDTH=104>
            <p><BR>
            </p>
        </td>
        <td WIDTH=104>
            <p><BR>
            </p>
        </td>
        <td WIDTH=104>
            <p><BR>
            </p>
        </td>
        <td WIDTH=103>
            <p><BR>
            </p>
        </td>
    </tr>
     
</table>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<p STYLE="margin-bottom: 0cm">Form D-4</p>
<p STYLE="margin-bottom: 0cm">(See Rule 4)</p>
<p STYLE="margin-bottom: 0cm">Number of Employees in Public Sector
Undertakings &amp; Aided Institutions and Expenditure of State
Government</p>
<p STYLE="margin-bottom: 0cm"><BR>
</p>
<table class="tab1" WIDTH=592 BORDER=1 BORDERCOLOR="#000001" CELLPADDING=7 CELLSPACING=0>
 <tr>
        <td ROWSPAN=2 COLSPAN=2 WIDTH=103 HEIGHT=19>
            <p>Sl. No.</p>
        </td>
        <td ROWSPAN=2 WIDTH=104>
            <p>Sector Name</p>
        </td>
        <td ROWSPAN=2 COLSPAN=2 WIDTH=104>
            <p STYLE="margin-bottom: 0cm">Total Employees</p>
            <p>as on 31-03</p>
        </td>
        <td COLSPAN=3 WIDTH=222>
            <p STYLE="margin-bottom: 0cm">Related Expenditure during</p>
            <p>(Rs. in ----)</p>
        </td>
    </tr>
    <tr VALIGN=TOP>
        <td WIDTH=70>
            <p>On Salary</p>
        </td>
        <td WIDTH=78>
            <p>On Pension</p>
        </td>
    </tr>
    
    
</table>
  
</center>

        
        
        
           </td>
           
</tr>



</table>

</div>
</div>
 </div>
</div>



                

                 </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>  
 
 
  

  
</main>
