<style>
body {
  font-family: "Lato", sans-serif;
}

/* Fixed sidenav, full height */
.sidenav {
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 15px 40px;
  text-decoration: none;
  font-size: 0.9rem;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
   background:#d2ffe221;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding:0 0 16px 0;
}

/* Add an active class to the active dropdown button */
.active {
  background:#d2ffe221;
    color: black;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #fff;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>

<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-50">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <div class="btn-wrapper">
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
   <section class="section section-lg pt-lg-0 mt--100">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-12">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
      <!--             <h6 class="text-primary text-uppercase"> Contact List- Finance Department As On 23/10/2019</h6>
       -->          

<div class="container-fluid">

  <div class="grid">
                <div class="row">
                    <div class="col-lg-3">
                        <!-- category -->
<div class="sidenav">

<button class="dropdown-btn">State Budgets
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
 
  


     <button class="dropdown-btn">2020-21
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Annual Financal Statement</a>
      <a href="#">Demand For Grants</a>
        <a href="#">Estimate of Receipts</a>
          <a href="#">Explanatory Memoradum</a>

</div>



     <button class="dropdown-btn">2019-20
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">vote on account</a>
      <a href="#">Annual Financal Statement</a>
        <a href="#">Demand For Grants</a>
          <a href="#">Estimate of Receipts</a>
        <a href="#">Explanatory Memoradum</a>
          <a href="#">First Supplementary Demand</a>
</div>





     <button class="dropdown-btn">2018-19
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Budget Speech</a>
      <a href="#">Explanatory Memoradum</a>
        <a href="#">Estimate of Receipts</a>
          <a href="#">Budget at a Glance </a>


    <button class="dropdown-btn">Expenditure Budget
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Introductory Notes</a>
      <a href="#">Contents</a>
        <a href="#">Summary</a>

</div>



        <a href="#">First Supplementary Demand</a>
          <a href="#">Second Supplementary Demand</a>
            <a href="#">Third Supplementary Demand</a>
</div>








<!-- Start here -->


    <button class="dropdown-btn">2017-18
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">First Item</a>
      <a href="#">Second Item</a>
        <a href="#">Third Item</a>
         


  <button class="dropdown-btn">Fourth Item 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Fourth Item (1)</a>
    
 <button class="dropdown-btn">Fourth Item (2)
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Fourth Item (2.1)</a>
    <a href="#">Fourth Item (2.2)</a>
   
  </div>


  </div>




  <button class="dropdown-btn">Fifth Item
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Fifth (5.1)</a>
    <a href="#">Fifth (5.2)</a>
 
  </div>






  </div>

  
    
  </div>


 <a href="#">Letters</a>
<a href="#">List of RCOs</a>
  
    



  <button class="dropdown-btn">Forms
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Resource Requisition</a>
    <a href="#">Budget Estimate</a>
    <a href="#">Re-appropriation</a>
    <a href="#">Fund surrender</a>
     <a href="#">Supplementary Demand</a>
   </div>



  <button class="dropdown-btn">Budget Circular
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">2020-21</a>
    <a href="#">2019-20</a>
<a href="#">2018-19</a>
<a href="#">2017-18</a>
<a href="#">2016-17</a>
<a href="#">2015-16</a>
<a href="#">2014-15</a>
<a href="#">2013-14</a>
<a href="#">2012-13</a>
  
   </div>















</div>

<!-- <div class="main">
  <h2>Sidebar Dropdown</h2>
  <p>Click on the dropdown button to open the dropdown menu inside the side navigation.</p>
  <p>This sidebar is of full height (100%) and always shown.</p>
  <p>Some random text..</p>
</div>
 -->
    

                    </div>

<div class="col-lg-3">Hello</div>
</div>
 </div>
</div>



                

                 </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>  
 
 
  

  
</main>
