

<style>

.category{
    background:#fff;
    font-size: 1.6rem;
    border-radius:3px;
   
}
.ctghead{
    padding: 2px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);

}
.ctghead h3{
    display: inline-flex;
    align-items: center;
    font-size: 0.9rem;
}
.ctghead h3 i{
    font-size:0.9rem;
    margin-right:7px;
   
}

.ctgul{
    margin-top:16px;
    padding:0 0 16px 0;
}
.ctgulChild{
    margin: 0 0 0 30px;
    padding:0 0 10px 0;

}

.ctgliChild{
    font-size: 0.9rem;
    display: block;
    position: relative;
    list-style: none;
    transition:.3s linear;
    /* box-shadow: transparent 0px 14px 13px -12px, transparent 0px 26px 32px -22px; */

}

.ctgli:hover{
    border-left: 4px solid var(--hove);
    background:#D5F5E3;
    /* box-shadow: rgba(50, 50, 93, 0.08) 0px 14px 13px -12px, rgba(0, 0, 0, 0.16) 0px 26px 32px -22px; */
}

.ctga, .ctgaChild{
    
    width: 100%;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 0.9rem;
    line-height: 2.3rem;
    color: #333;
    text-decoration: none;
    padding: 13px 40px 13px 34px;
    position: relative;
    right: 0;
    transition: right linear .3s;
}
.ctga i{
    margin-right:10px;}

.ctgaChild{
    font-size: 0.9rem;
    padding: 13px 13px 13px 36px;
}
.ctga:hover, .ctgaChild:hover{
    /* right:-4px; */
    color:var(--hove);
    
}
.ctgaChild::before {
    top: 50%;
    transform:translateY(-50%);
    left: 20px;
    position: absolute;
    border-style: solid;
    border-color: transparent transparent transparent var(--hove);
    border-width:4px;
    content: "";
    
}
.down{
    position: absolute;
    font-size:0.9rem;
   right:10%;
   top: 50%;
   transform: translateY(-50%) rotate(360deg);
}
.ctgulChild{
    
    display:none;
}
.ctgli{
    display: block;
    position: relative;
    list-style: none;
    border-left: 4px solid transparent;
    transition:.3s linear;
}
.showed{
    background:#D5F5E3;
    border-left:4px solid var(--hove)!important;
}

.showed .ctga{
    color: var(--hove);
    font-weight:bold;
   }

.showed .ctga i{
    
    font-weight:bold;
    
}
.down {
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.wtok .down {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

/*  base.css*/
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

:root{

    --white:#fff;
    --black:#000;
    --textColor:#333;
    --hove:#04ca88;
}
html{
    font-size:62.5%;
    font-family: 'Muli', sans-serif ;
    line-height:1.6 rem;
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
a{
  text-decoration: none;
}
p{
    font-size:1.6 rem;
    /* 1.6 rem --> 16px */
}

h1{font-size:3rem;}
.grid{
    margin : 0 auto;
    max-width: 1280px;
}

.row{
  display:flex;
  flex-wrap: wrap;
  margin: 0 -12px 0 -12px;
}


.col-3{
  padding:0 12px 0 12px;
  width:calc((100%/12)*3);

}


</style>

<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-50">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <div class="btn-wrapper">
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
   <section class="section section-lg pt-lg-0 mt--100">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-12">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
      <!--             <h6 class="text-primary text-uppercase"> Contact List- Finance Department As On 23/10/2019</h6>
       -->          

<div class="container-fluid">

  <div class="grid">
                <div class="row">
                    <div class="col-lg-3">
                        <!-- category -->
                       <nav class="category">

                            <!-- <div class="ctghead">

                                <h3><i class="ti-list"></i>Category</h3>
                            </div>
 -->
                            <ul class="ctgul">
                                <li class="ctgli">
                                    <a [routerLink]="['/Admin-Dashboard']" class="ctga">
                                        <i class="fa fa-comment-o"></i>
                                        Feedback</a>
                                </li>

                                <li class="ctgli ">
                                    <a [routerLink]="['/create-sbs-admin']" class="ctga">
                                        <i class="fa fa-plus" style="color: #666666"></i>
                                        Create SBS Admin</a>
                                </li>

                                <li class="ctgli ">
                                    <a [routerLink]="['/ddo-report']" class="ctga">
                                        <i class="fa fa-paper-plane"></i>
                                        DDO Request</a>
                                </li>

                                <li class="ctgli ">
                                    <a [routerLink]="['/rco-report']" class="ctga">
                                        <i class="fa fa-file"></i>
                                        RCO Request</a>
                                </li>

                                <li class="ctgli showed">
                                    <a href="#" class="ctga">
                                        <div class="ok"></div>
                                        <i class="fa fa-user"></i>
                                        Users
                                        <i class="ti-angle-down down "></i>
                                    </a>


                                    <ul class="ctgulChild">
                                        <li class="ctgliChild">
                                            <a [routerLink]="['/ddo-users']" class="ctgaChild">DDO Users</a>
                                        </li>
                                        <li class="ctgliChild">
                                            <a [routerLink]="['/rco-users']" class="ctgaChild"> MIS/HOD/RCO Users</a>
                                        </li>
                                        <li class="ctgliChild">
                                            <a [routerLink]="['/admin-users']" class="ctgaChild"> Admin Users</a>
                                        </li>
                                    </ul>
                                </li>

                              

                                <li class="ctgli">
                                    <a href="#" class="ctga ">
                                        <i class="fa fa-pencil"></i>
                                        Reports
                                        <i class="ti-angle-down down "></i>
                                    </a>
                                    <ul class="ctgulChild">
                                        <li class="ctgliChild">
                                            <a href="" class="ctgaChild">Resource Allocation</a>
                                        </li>
                                        <li class="ctgliChild">
                                            <a href="" class="ctgaChild"> Receipt of Fund Statement</a>
                                        </li>
                                        <li class="ctgliChild">
                                            <a href="" class="ctgaChild"> Stmt of Resource Released</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="" class="ctgaChild"> Monthly Resource Releases</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="" class="ctgaChild"> Statement of Fund Surrender </a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="" class="ctgaChild"> Re-appropriation of Fund Statement</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="" class="ctgaChild"> Scheme wise Info Status of Fund</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="" class="ctgaChild"> Budget Head DDO Mapping</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="" class="ctgaChild"> Expenditure Statement</a>
                                        </li>
                                            <li class="ctgliChild">
                                            <a href="" class="ctgaChild"> Sanctionwise Analysis DDO Wise</a>
                                        </li>

   <li class="ctgliChild">
                                            <a href="" class="ctgaChild"> Report IT Deduction</a>
                                        </li>

   <li class="ctgliChild">
                                            <a href="" class="ctgaChild"> GST Form 7</a>
                                        </li>
                                    </ul>
                                      

                                </li>

                                <li class="ctgli">
                                    <a [routerLink]="['/sbs-upload']" class="ctga">
                                        <i class="fa fa-upload"></i>
                                        SBS Upload</a>
                                </li>

                                <li class="ctgli">



                                  

                        
                                  
                                    <a [routerLink]="['/change-password']" class="ctga">
                                        <i class="fa fa-refresh"></i>
                                        Update Password</a>
                                </li>

                                  <li class="ctgli">
                                    <a class="ctga">
                                        <i class="fa fa-sign-out"></i>
                                        Logout</a>
                                </li>

                            </ul>



                        </nav>



                                  

                        
                        




                    </div>

<div class="col-lg-9">
 
<div class="table-responsive">
            <div id="result"></div>
          </div>

 </div>
</div>
 </div>
</div>



                

                 </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>  
 
 
  

  
</main>
