<style type="text/css">
  a{
font-size: 14px;
  }
  li{
    font-size: 12px;
  }
</style>
<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-50">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <div class="btn-wrapper">
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
   <section class="section section-lg pt-lg-0 mt--100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-12">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <!-- <h6 class="text-primary text-uppercase"> Contact List- Finance Department As On 23/10/2019</h6> -->
                 
<div class="container">
  <h3 class="h4 text-success font-weight-bold mb-4">D.A Enhancement</h3>
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <!-- Tabs with icons -->
        <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
            <ngb-tab>
              <ng-template ngbTabTitle>
                   <i class="ni ni-bell-55 mr-2"></i> All D.A. Enhancement Details
              </ng-template>
                <ng-template ngbTabContent>
                 <ul>
                                <li><a href="http://sikkimfred.gov.in/user/Documents/0_22.pdf" target="_blank" style="color: Black; text-align: center;">
                                    DA Enhancement 0 % to 22 %</a>&nbsp; w.e.f&nbsp; 01-01-2006- 01-01-2009&nbsp;
                                </li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/user/Documents/22_27.pdf" target="_blank" style="color: Black;">DA Enhancement
                                    22 % to 27 %</a> w.e.f 01-07-2009</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/user/Documents/27_35.pdf" target="_blank" style="color: Black;">DA Enhancement
                                    27 % to 35 %</a> w.e.f 01-01-2010</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/user/Documents/35_45.pdf" target="_blank" style="color: Black;">DA Enhancement
                                    35 % to 45 %</a> w.e.f 01-07-2010</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/user/Documents/45_51.pdf" target="_blank" style="color: Black;">DA Enhancement
                                    45 % to 51 %</a> w.e.f 01-01-2011</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/user/Documents/51_58.pdf" target="_blank" style="color: Black;">DA Enhancement
                                    51 % to 58 %</a> w.e.f 01-07-2011</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/user/Documents/58_65.pdf" target="_blank" style="color: Black;">DA Enhancement
                                    58 % to 65 %</a> w.e.f 01-01-2012</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/D.A.NEW 65-72.pdf" target="_blank" style="color: Black;">
                                    DA Enhancement 65 % to 72 %</a> w.e.f 01-07-2012</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/DA_and_DR_Circular_enhancement_from_72-80.pdf"
                                    target="_blank" style="color: Black;">DA Enhancement 72 % to 80 %</a> w.e.f 01-01-2013</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/D.A.NEW_80_90_dt_261013.pdf" target="_blank"
                                    style="color: Black;">DA Enhancement 80 % to 90 %</a>
                                    w.e.f 01-07-2013</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/D.A90_100dt12914.pdf" target="_blank" style="color: Black;">
                                    DA Enhancement 90 % to 100 % </a>&nbsp;w.e.f 01-01-2014</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/D.A.NEW 100-107dt 281014.pdf" target="_blank"
                                    style="color: Black;">DA Enhancement 100 % to 107 % </a>&nbsp;w.e.f 01-07-2014</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/DA Circular 22052015.pdf" target="_blank"
                                    style="color: Black;">DA Enhancement 107 % to 113 % </a>&nbsp;w.e.f 01-01-2015</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/DA Circular12_02_16.pdf" target="_blank"
                                    style="color: Black;">DA Enhancement 113 % to 119 % </a>&nbsp;w.e.f 01-07-2015</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/DA Circular20160523.pdf" target="_blank"
                                    style="color: Black;">DA Enhancement 119 % to 125 % </a>&nbsp;w.e.f 01-01-2016</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/DA Circular.pdf" target="_blank" style="color: Black;">
                                    DA Enhancement 125 % to 132 % </a>&nbsp;w.e.f 01-07-2016</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/DA 136.pdf" target="_blank" style="color: Black;">
                                    DA Enhancement 132 % to 136 % </a>&nbsp;w.e.f 01-01-2017</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/DA_Circular_wef_1_7_17.pdf" target="_blank"
                                    style="color: Black;">DA Enhancement 136 % to 139 % </a>&nbsp;w.e.f 01-07-2017</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/New Doc 2018-06-07.pdf" target="_blank"
                                    style="color: Black;">DA Enhancement 139 % to 142 % </a>&nbsp;w.e.f 01-01-2018</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/DA Circular (15-09-18)_1.pdf" target="_blank"
                                    style="color: Black;">Revised DA Enhancement From 01/01/2016 </a>
                                    </li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/DA Circular (1).pdf" target="_blank" style="color: Black;">
                                    DA Enhancement 142 % to 148 % </a>&nbsp;w.e.f 01-07-2018</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/DA Jan -June20190729.pdf" target="_blank"
                                    style="color: Black;">DA Enhancement 148 % to 154 % </a>&nbsp;w.e.f 01-01-2019</li>
                            </ul>
                             <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/DA Enhancement 154 to 164.pdf" target="_blank"
                                    style="color: Black;">DA Enhancement 154 % to 164 % </a>&nbsp;w.e.f 01-07-2019<img
                                        border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></li>
                            </ul>


                </ng-template>
            </ngb-tab>
          
        </ngb-tabset>
    </div>
   
  </div>

  <!-- <div class="row row-grid justify-content-between align-items-center mt-lg">
    <div class="col-lg-5">
      <h3 class="h4 text-success font-weight-bold mb-4">Progress bars</h3>
      <div class="progress-wrapper">
        <div class="progress-info">
          <div class="progress-label">
            <span>Task completed</span>
          </div>
          <div class="progress-percentage">
            <span>40%</span>
          </div>
        </div>
        <ngb-progressbar type="default" [value]="25"></ngb-progressbar>
      </div>
      <div class="progress-wrapper">
        <div class="progress-info">
          <div class="progress-label">
            <span>Task completed</span>
          </div>
          <div class="progress-percentage">
            <span>60%</span>
          </div>
        </div>
        <ngb-progressbar type="primary" [value]="60"></ngb-progressbar>
      </div>
    </div> -->
   <!--  <div class="col-lg-5">
      <h3 class="h4 text-success font-weight-bold mb-5">Pagination</h3>
      <nav aria-label="Page navigation example" class="mb-4">
        <ngb-pagination [collectionSize]="50" [(page)]="page" [directionLinks]="false"></ngb-pagination>
      </nav>
      <nav aria-label="Page navigation example">
        <ngb-pagination [collectionSize]="50" [(page)]="page1" aria-label="Default pagination">
          <ng-template ngbPaginationPrevious><i _ngcontent-c9="" class="fa fa-angle-left"></i></ng-template>
          <ng-template ngbPaginationNext><i _ngcontent-c9="" class="fa fa-angle-right"></i></ng-template>
        </ngb-pagination>
      </nav>
    </div>
 -->  <!-- </div> -->
 <!--  <div class="row row-grid justify-content-between">
  --> <!--   <div class="col-lg-5">
      <h3 class="h4 text-success font-weight-bold mb-5">Navigation Pills</h3>
      <ngb-tabset type="pills" class="nav-pills-circle">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <span class="nav-link-icon d-block"><i class="ni ni-atom"></i></span>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <span class="nav-link-icon d-block"><i class="ni ni-chat-round"></i></span>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
                <span class="nav-link-icon d-block"><i class="ni ni-cloud-download-95"></i></span>
            </ng-template>
          </ngb-tab>
      </ngb-tabset>
    </div> -->
  <!--   <div class="col-lg-5">
      <h3 class="h4 text-success font-weight-bold mb-5">Labels</h3>
      <span class="badge badge-pill badge-primary text-uppercase">Primary</span>
      <span class="badge badge-pill badge-success text-uppercase">Success</span>
      <span class="badge badge-pill badge-danger text-uppercase">Danger</span>
      <span class="badge badge-pill badge-warning text-uppercase">Warning</span>
      <span class="badge badge-pill badge-info text-uppercase">Info</span>
    </div> -->
<!--   </div> -->
</div>


                 </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>  
 
 
  

  
</main>
