<style type="text/css">
  td{
font-size: 12px;
  }
  th{
    font-size: 12px;
  }
</style>
<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-50">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <div class="btn-wrapper">
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
   <section class="section section-lg pt-lg-0 mt--100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-12">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <h6 class="text-primary text-uppercase"> Contact List- Finance Department As On 23/10/2019</h6>
                 <div class="table-responsive">
            <table class="table table-striped">
              <thead class="text-primary">
                <tr>
                  <th class="text-center">
                    SL.No
                  </th>
                  <th>
                    Name
                  </th>
                  <th>
                    Designation
                  </th>
                  <th>
                    Office/Res
                  </th>
                  <th class="text-center">
                    EXT.NO
                  </th>
                  <th class="text-right">
                    Mobile No.
                  </th>
                  <th class="text-right">
                    Email-ID
                  </th>
                </tr>
              </thead>
              <tbody>
              
                <tr>
          <td>
            
              1
          </td>
          <td>
            SHRI V.B. PATHAK (IAS)</td>
          <td>
            
              ADDL. CHIEF SECRETARY
          </td>
          <td>
            
              202792
            
          </td>
          <td>
            
              1001
          </td>
          <td>
            
              <span>9910203553
               
              </span>
            
          </td>
          <td>
            
              <a href="mailto:prs.fred@sikkim.gov.in">prs.fred@sikkim.gov.in</a>&nbsp; (O)
          </td>
        </tr>
        <tr>
          <td>
            
              2
          </td>
          <td>
            SHRI M.K. SHARMA</td>
          <td>
            
              CONTROLLER OF ACCOUNTS
          </td>
          <td>
            
              205033
          </td>
          <td>
            
              2092
          </td>
          <td>
            
              9434023993
          </td>
          <td>
            
              <a href="mailto:mksharma@yahoo.com">mksharma@yahoo.com</a>
            
          </td>
        </tr>
        <tr>
          <td>
            
              3
          </td>
          <td>
            
              SHRI GOVIND PSD KAUSHIK
          </td>
          <td>
            
              SECRETARY (REVENUE)
          </td>
          <td>
            
              20112
          </td>
          <td>
            2156</td>
          <td>
            
              9434710413
          </td>
          <td>
            
              <a href="mailto:govindkaushik@yahoo.com">govindkaushik@yahoo.com</a>
            
          </td>
        </tr>
        <tr>
          <td>
            
              4
          </td>
          <td>
            
              SHRI ARUNI CHOKARBORTY
          </td>
          <td>
            
              PR. DIRECTOR CUM SECRETARY (EXPENDITURE)
          </td>
          <td>
            
              209774
          </td>
          <td>
            
              2137
          </td>
          <td>
            
              9474649500
          </td>
          <td>
            
              aruni1961@yahoo.com
          </td>
        </tr>
        <tr>
          <td>
            
              5
          </td>
          <td>
            
              SHRI BENU KR MUKHIA
          </td>
          <td>
            
              PR. DIRECTOR (FCD)
          </td>
          <td>
            
              221504
          </td>
          <td>
            
              2134
          </td>
          <td>
            
              9933054424
          </td>
          <td>
            
              <a href="mailto:benu@nic.in">benu@nic.in</a>
            
          </td>
        </tr>
        <tr>
          <td>
            
              6
          </td>
          <td>
            
              SHRI KARMA CHOPEL BHUTIA
          </td>
          <td>
            
              PR. DIRECTOR (ACCTTS &amp; ADMIN)
          </td>
          <td>
            
              201505
          </td>
          <td>
            
              2162
          </td>
          <td>
            
              ---
          </td>
          <td>
            
              ---
          </td>
        </tr>
        <tr>
          <td>
            
              7
          </td>
          <td>
            
              SHRI KAPIL MEENA(IAS)
          </td>
          <td>
            
              ADDL&nbsp; SECRETARY 
          </td>
          <td>
            
              200066
          </td>
          <td>
            
              2179
          </td>
          <td>
            
              ---
          </td>
          <td>
            
              --
          </td>
        </tr>
        <tr>
          <td>
             8
          </td>
          <td>
            SHRI LINUS RAI</td>
          <td>
            ADDL. DIRECTOR (FCD)</td>
          <td>
            ---</td>
          <td>
            ---</td>
          <td>
            7470678705</td>
          <td>
            ---</td>
        </tr>
        <tr>
          <td>
            9
          </td>
          <td>
            SHRI RAJ NARAYAN PRADHAN</td>
          <td>
            ADDL. DIRECTOR (BUD)</td>
          <td>
            ---</td>
          <td>
            2150</td>
          <td>
            9733063820</td>
          <td>
            ---</td>
        </tr>
        <tr>
          <td>
            
              10
          </td>
          <td>
            
              SMT. PERSIS G. LUCKSOM
          </td>
          <td>
            
              ADDL. DIRECTOR (ACCTTS)
          </td>
          <td>
            
              202472
          </td>
          <td>
            
              2118
          </td>
          <td>
            
              9434196337
          </td>
          <td>
            
              <a href="mailto:persislucksum@yahoo.com">persislucksum@yahoo.com</a>
            
          </td>
        </tr>
        <tr>
          <td>
            11</td>
          <td>
            SHRI CHOPEL TASHI LACHUNGPA</td>
          <td>
            ADDL. DIRECTOR (LOAN)</td>
          <td>
            ---</td>
          <td>
            2170</td>
          <td>
            ---</td>
          <td>
            
              <a href="mailto:t-chope@yahoo.co.uk">t-chope@yahoo.co.uk</a>
            

          </td>
        </tr>
        <tr>
          <td>
            12
          </td>
          <td>
            SHRI TASHI TSH TAMANG</td>
          <td>
            JOINT DIRECTOR (FCD)</td>
          <td>
            &nbsp;</td>
          <td>
            2106</td>
          <td>
            9434409762</td>
          <td>
            &nbsp;</td>
        </tr>
        <tr>
          <td>
            13
          </td>
          <td>
            MS. ARPANA RAI</td>
          <td>
            JOINT DIRECTOR (BUDGET)</td>
          <td>
            207553</td>
          <td>
            2138</td>
          <td>
            9800712550</td>
          <td>
            <a href="mailto:t-chope@yahoo.co.uk">arpana03@gmail.com</a>
          </td>
        </tr>
        <tr>
          <td>
            
              14
          </td>
          <td>
            
              &nbsp;SHRI D W BHUTIA
          </td>
          <td>
            
              DEPUTY SECRETARY (Adm)
          </td>
          <td>
            
              --
          </td>
          <td>
            
              2178
          </td>
          <td>
            &nbsp;</td>
          <td>
            &nbsp;</td>
        </tr>
        <tr>
          <td>
            
              15
          </td>
          <td>
            
              MS. CHUMDEN KACHOPA
          </td>
          <td>
            
              SR PRIVATE SECY. TO C.A
          </td>
          <td>
            
              205033
          </td>
          <td>
            
              2091
          </td>
          <td>
            
              8016272413
          </td>
          <td>
            
              <a href="mailto:kachopachumden@gmail.com">kachopachumden@gmail.com</a>
            
          </td>
        </tr>
        <tr>
          <td>
            
              16
          </td>
          <td>
            
              SMT. TSHEWANG L. BHUTIA
          </td>
          <td>
            
              SR P.S. TO ACS
          </td>
          <td>
            
              202792
          </td>
          <td>
            
              1075
          </td>
          <td>
            
              9775164415
          </td>
          <td>
            
              <a href="mailto:tshewanglhamu@gmail.com">tshewanglhamu@gmail.com</a>
            
          </td>
        </tr>
        <tr>
          <td>
            
              17
          </td>
          <td>
            
              SHRI P.K. CHETTRI
          </td>
          <td>
            
              DEPUTY DIRECTOR (DDO &amp; ACCOUNTS)
          </td>
          <td>
            
              --
          </td>
          <td>
            
              2122
          </td>
          <td>
            
              9434241222
          </td>
          <td>
            
              p
              <a href="mailto:Pkchettri2345@gmail.com">kchettri2345@gmail.com</a>
            
          </td>
        </tr>
        <tr>
          <td>
            18
          </td>
          <td>
            SHRI ASHOK SHARMA</td>
          <td>
            DEPUTY&nbsp; DIRECTOR(FCD)</td>
          <td>
            &nbsp;</td>
          <td>
            2098</td>
          <td>
            9434127054</td>
          <td>
            ---</td>
        </tr>
        <tr>
          <td>
            
              19
          </td>
          <td>
            
              SHRI B.M. KARKI
          </td>
          <td>
            
              ACCOUNTS OFFICER (LOAN)
          </td>
          <td>
            
              --
          </td>
          <td>
            
              2171
          </td>
          <td>
            
              9434357620
          </td>
          <td>
            
              <a href="mailto:karkibm@gmail.com">karkibm@gmail.com</a>
            
          </td>
        </tr>
        <tr>
          <td>
            20
          </td>
          <td>
            SHRI RAJ KAMAL PRADHAN</td>
          <td>
            PROJECT MANAGER (SCIENTIST)</td>
          <td>
            201007</td>
          <td>
            2110</td>
          <td>
            9475513608</td>
          <td>
            &nbsp;</td>
        </tr>
        <tr>
          <td>
            
              21
          </td>
          <td>
            
              SHRI RAJEN CHETTRI
          </td>
          <td>
            
              DEPUTY DIRECTOR (IT)
          </td>
          <td>
            
              201007
          </td>
          <td>
            
              2078
          </td>
          <td>
            
              9474531378
          </td>
          <td>
            
              <a href="mailto:karkibm@gmail.com">sairaj19.c</a>hettri@gmail.com
          </td>
        </tr>
        <tr>
          <td>
            
              22
          </td>
          <td>
            
              SMT. ANJALI RAI
          </td>
          <td>
            
              P.S. TO SECRETARY (REVENUE)
          </td>
          <td>
            
              --
          </td>
          <td>
            
              2136
          </td>
          <td>
            
              9593972208
          </td>
          <td>
            
              <a href="mailto:karkibm@gmail.com">anniegtk@gmail.com</a>
            
          </td>
        </tr>
        <tr>
          <td>
            
              23
          </td>
          <td>
            
              SMT. THINLEY ONGMU
          </td>
          <td>
            
              P.S TO PR DIRECTOR CUM SECTY(EXPDT)
          </td>
          <td>
            
              --
          </td>
          <td>
            
              2130
          </td>
          <td>
            
              9564841177
          </td>
          <td>
            
              <a href="mailto:thinleygtk@yahoo.com">thinleygtk@yahoo.com</a>
            
          </td>
        </tr>
        <tr>
          <td>
             24
          </td>
          <td>
            SHRI NAWANG PINTSO BHUTIA</td>
          <td>
            ASST. DIRECTOR(BUDGET)</td>
          <td>
            ---</td>
          <td>
            2139</td>
          <td>
            7797896203</td>
          <td>
            <a href="mailto:thinleygtk@yahoo.com">nawan</a>gpbhutia@gmail.com</td>
        </tr>
        <tr>
          <td>
            25
          </td>
          <td>
            SHRI P. L ADHIKARI
          </td>
          <td>
            ACCOUNTS OFFICER (IT CELL &amp; SERVICE)</td>
          <td>
            ---</td>
          <td>
            2173</td>
          <td>
            9434203998</td>
          <td>
            prasant.pao@gmail.com</td>
        </tr>
        <tr>
          <td>
            26
          </td>
          <td>
            SMT NAMITA SHILAL</td>
          <td>
            PS TO PR. DIRECTOR (ACCTS)</td>
          <td>
            ---</td>
          <td>
            ---</td>
          <td>
            9474833469</td>
          <td>
            ---</td>
        </tr>
        <tr>
          <td colspan="7" bgcolor="white" class="text-primary">
            
              <strong>PAY &amp; ACCOUNTS OFFICE</strong>
            
          </td>
        </tr>
        <tr>
          <td>
            
              27
          </td>
          <td>
            
              B.B. SUBBA
          </td>
          <td>
            
              &nbsp;DIRECTOR (HQ)
          </td>
          <td>
            
              221228
          </td>
          <td>
            
              --
          </td>
          <td>
            
              9434031374
          </td>
          <td>
            
              <a href="mailto:sapkotadp@yahoo.com">sapkotadp@yahoo.com</a>
            
          </td>
        </tr>
        <tr>
          <td>
            
              28
          </td>
          <td>
            
              KARMA THENDUP BHUTIA
          </td>
          <td>
            
              DY. CP &amp; A.O (HQ)
          </td>
          <td>
            
              --
          </td>
          <td>
            
              --
          </td>
          <td>
            
              &nbsp;
          </td>
          <td>
            
              --
          </td>
        </tr>
        <tr>
          <td>
            
              29
          </td>
          <td>
            
              SUNITA PRADHAN
          </td>
          <td>
            
              CP &amp; A.O (HQ)
          </td>
          <td>
            
              --
          </td>
          <td>
            
              --
          </td>
          <td>
            
              9434117404
          </td>
          <td>
            
              --
          </td>
        </tr>
        <tr>
          <td>
            
              30
          </td>
          <td>
            
              JAYANT &nbsp;THAPA
          </td>
          <td>
            
              DY. CP &amp; A.O (HQ)
          </td>
          <td>
            
              --
          </td>
          <td>
            
              --
          </td>
          <td>
            
              9475504192
          </td>
          <td>
            
              --
          </td>
        </tr>
        <tr>
          <td>
            
              31
          </td>
          <td>
            
              D P SAPKOTA
          </td>
          <td>
            
              ADDL. DIRECTOR (EAST/WORK CELL)
          </td>
          <td>
            &nbsp;</td>
          <td>
            &nbsp;</td>
          <td>
            &nbsp;</td>
          <td>
            &nbsp;</td>
        </tr>
        <tr>
          <td>
            
              32
          </td>
          <td>
            
              KALPANA LAMA
          </td>
          <td>
            
              CP &amp; A.O (EAST WORK CELL)
          </td>
          <td>
            
              284326
          </td>
          <td>
            
              --
          </td>
          <td>
            
              9434488845
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            
              33
          </td>
          <td>
            
              TARUN SHARMA
          </td>
          <td>
            
              DY. CP &amp; A.O (WORK CELL)
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            
              9434710229
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            
              34
          </td>
          <td>
            
              MAMTA SHARMA
          </td>
          <td>
            
              DY. CP &amp; A.O (WORK CELL)
          </td>
          <td>
            
              284326
          </td>
          <td>
            
              --
          </td>
          <td>
            
              9434191743
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            
              35
          </td>
          <td>
            
              SUMAN PRADHAN
          </td>
          <td>
            
              ACCOUNTS OFFICER (DAC, East)
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            
              9434136978
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            
              36
          </td>
          <td>
            
              KARMA DAWA GYATSO
          </td>
          <td>
            
              CHIEF PAY &amp; A.0 (SOUTH)
          </td>
          <td>
            
              250716
          </td>
          <td>
            --
          </td>
          <td>
            
              9434717847
          </td>
          <td>
            
              <a href="mailto:paonamchi@rediffmail.com">paonamchi@rediffmail.com</a>
            
          </td>
        </tr>
        <tr>
          <td>
            
              37
          </td>
          <td>
            
              SUNIL CHANDRA SHARMA
          </td>
          <td>
            
              DY. CPAO, SOUTH
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            
              7550846864
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            
              38
          </td>
          <td>
            
              TIKA RAI
          </td>
          <td>
            
              ACCOUNTS OFFICER, SOUTH
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            
              9434252883
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            
              39
          </td>
          <td>
            
              KARMA LODAY BHUTIA
          </td>
          <td>
            
              CPAO, NORTH
          </td>
          <td>
            
              234281
          </td>
          <td>
            --
          </td>
          <td>
            
              &nbsp;
          </td>
          <td>
            
              <a href="mailto:paonorth@rediffmail.com">paonorth@rediffmail.com</a>
            
          </td>
        </tr>
        <tr>
          <td>
            
              40
          </td>
          <td>
            
              THINLAY BHUTIA
          </td>
          <td>
            
              DY. CPAO, NORTH
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            
              &nbsp;
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            
              41
          </td>
          <td>
            
              C B CHETTRI
          </td>
          <td>
            
              ACCOUNTS OFFICER,NORTH
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            
              &nbsp;
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            
              42
          </td>
          <td>
            
              K.B.SUBBA
          </td>
          <td>
            
              DY. CP &amp; A.O, WEST
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            
              9593289998
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            
              43
          </td>
          <td>
            
              G.M. SUBEDI
          </td>
          <td>
            
              ACCOUNTS OFFICER, WEST
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            
              9733064924
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td colspan="7" bgcolor="white" class="text-primary">
            
              <strong>DIRECTORATE OF LOTTERIES</strong>
            
          </td>
        </tr>
        <tr>
          <td>
            
              44
          </td>
          <td>
            
              SHERAP SHENGA
          </td>
          <td>
            
              DIRECTOR
          </td>
          <td>
            
              280227
          </td>
          <td>
            --
          </td>
          <td>
            
              9593885551
          </td>
          <td>
            
              <a href="mailto:directorskmlottoi@gmail.com">directorskmlottoi@gmail.com</a>
            
          </td>
        </tr>
        <tr>
          <td>
            
              45
          </td>
          <td>
            
              N.D. BHUTIA
          </td>
          <td>
            
              JOINT SECRETARY
          </td>
          <td>
            
              280226
          </td>
          <td>
            --
          </td>
          <td>
            
              8370997988
          </td>
          <td>
            
              <a href="mailto:directorskmlottoi@gmail.com">directorskmlottoi@gmail.com</a>
            
          </td>
        </tr>
        <tr>
          <td>
            
              46
          </td>
          <td>
            
              BHIM BAHADUR BARDEWA
          </td>
          <td>
            
              SR. A.O
          </td>
          <td>
            
              280225
          </td>
          <td>
            --
          </td>
          <td>
            
              9434382226
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td colspan="7" bgcolor="white" class="text-primary">
            
              <strong>PENSION/GIS/GPF DIVISION</strong>
            
          </td>
        </tr>
        <tr>
          <td>
            
              47
          </td>
          <td>
            
              MCP PRADHAN
          </td>
          <td>
            
              DIRECTOR
          </td>
          <td>
            
              209065
          </td>
          <td>
            --
          </td>
          <td>
            
              &nbsp;
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            
              48
          </td>
          <td>
            
              TARZEN SUBBA
          </td>
          <td>
            
              CHIEF ACCOUNTS OFFICER
          </td>
          <td>
            
              209065
          </td>
          <td>
            --
          </td>
          <td>
            
              9475583349
          </td>
          <td>
            
              --
          </td>
        </tr>
        <tr>
          <td>
            
              49
          </td>
          <td>
            
              TASHI TAMANG
          </td>
          <td>
            
              SR. AO
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            
              9434409762
          </td>
          <td>
            
              --
          </td>
        </tr>
        <tr>
          <td>
            
              50
          </td>
          <td>
            
              PEMA CHEWANG
          </td>
          <td>
            
              ACCOUNTS OFFICER
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            
              9434409190
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            
              51
          </td>
          <td>
            
              LILADHAR GHIMREY
          </td>
          <td>
            
              ACCOUNTS OFFICER
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            
              7602445359
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td colspan="7" bgcolor="white" class="text-primary">
            
              <strong>INTERNAL AUDIT/ LOCAL FUND AUDIT</strong>
            
          </td>
        </tr>
        <tr>
          <td>
            
              52
          </td>
          <td>
            
              L.B. RAI
          </td>
          <td>
            
              PRINCIPAL DIRECTOR
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            
              9434109710
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            
              53
          </td>
          <td>
            
              C.N. SHERPA
          </td>
          <td>
            
              CHIEF ACCOUNTS OFFICER
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            
              9733173756
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            
              54
          </td>
          <td>
            
              K.S. CHETTRI
          </td>
          <td>
            
              ACCOUNTS OFFICER
          </td>
          <td>
            --
          </td>
          <td>
            
              --
          </td>
          <td>
            
              9434756055
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            
              55
          </td>
          <td>
            
              T.N. SAPKOTA
          </td>
          <td>
            
              ACCOUNTS OFFICER
          </td>
          <td>
            
              280882
          </td>
          <td>
            
              --
          </td>
          <td>
            
              9434976208
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            
              56
          </td>
          <td>
            
              G.P. ADHIKARI
          </td>
          <td>
            
              AO
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            
              9434137445
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            
              57
          </td>
          <td>
            
              KESSANG ONGMU
          </td>
          <td>
            
              PS to PRINCIPAL DIRECTOR
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            
              8759165119
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td colspan="7" bgcolor="white" class="text-primary">
            
              <strong>COMMERCIAL TAX DIVISION</strong>
            
          </td>
        </tr>
        <tr>
          <td>
            
              58
          </td>
          <td>
            
              BASANTI RAI
          </td>
          <td>
            
              COMMISSIONER
          </td>
          <td>
            
              207533
          </td>
          <td>
            --
          </td>
          <td>
            
              9434023284
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            
              59
          </td>
          <td>
            
              MANOJ RAI
          </td>
          <td>
            
              JOINT COMMISSIONER
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            
              9932028369
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            
              60
          </td>
          <td>
            
              MANOJ TAMANG
          </td>
          <td>
            
              ACCOUNTS OFFICER
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            
              9434486171
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td colspan="7" bgcolor="white" class="text-primary">
            
              <strong>SIKKIM STATE LEGAL SERVICES AUTHORITY</strong>
            
          </td>
        </tr>
        <tr>
          <td>
            
              61
          </td>
          <td>
            
              MEMBER SECRETARY (SLSA)
          </td>
          <td>
            
              MEMBER SECRETARY
          </td>
          <td>
            
              03592-207753
          </td>
          <td>
            --
          </td>
          <td>
            
              --
          </td>
          <td>
            sikkim_slsa@live.com</td>
        </tr>
              </tbody>
            </table>
          </div>

                 </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>  
 
 
  

  
</main>
