<style type="text/css">
  td{
font-size: 12px;
  }
  th{
    font-size: 12px;
  }
</style>
<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-50">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <div class="btn-wrapper">
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
   <section class="section section-lg pt-lg-0 mt--100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-12">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <!-- <h6 class="text-primary text-uppercase"> Contact List- Finance Department As On 23/10/2019</h6> -->
                 
<div class="container">
  <h3 class="h4 text-success font-weight-bold mb-4">Trainings</h3>
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <!-- Tabs with icons -->
        <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
            <ngb-tab>
              <ng-template ngbTabTitle>
                   <i class="ni ni-bell-55 mr-2"></i> 2016-17
              </ng-template>
                <ng-template ngbTabContent>
                 <ul>
                        <li style="color: Black;"><a href="http://sikkimfred.gov.in/Employees Corner/Trainings/Rescheluding of Trainees_21_10_2016.pdf"
                            target="_blank" style="color: Black; font-size: small;">Notification:- Rescheluding
                            of Trainees Vide No:839/Fin/Adm Dated 21.10.2016.
                            <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></a></li>
                    </ul>
                    <ul>
                        <li style="color: Black;"><a href="http://sikkimfred.gov.in/Employees Corner/Trainings/compulsorytraining for ssas.pdf"
                            target="_blank" style="color: Black; font-size: small;">Notification:- Compulsory
                            Training for SSAS promotees under probation period Vide N.No: 838/Fin/Adm Dated
                            21.10.2016.
                            <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></a></li>
                    </ul>
                    <ul>
                        <li style="color: Black;"><a href="http://sikkimfred.gov.in/Employees Corner/Trainings/Compulsory Training on e-filling of Form 24G.pdf"
                            target="_blank" style="color: Black; font-size: small;">Notification:- Compulsory
                            Training on e-filling of Form 24G by the Treasury, Pay & Accounts Office Vide N.No:
                            GOS/FCD/FCD/2015/17/TDS/208 Dated 18.08.2016.
                            <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></a></li>
                    </ul>
                    <ul>
                        <li style="color: Black;"><a href="http://sikkimfred.gov.in/Employees Corner/Trainings/Corrigendum Training.pdf"
                            target="_blank" style="color: Black; font-size: small;">Notification:- Corrigendum
                            of Compulsory training on e-filing of Income Tax Returns vide C.No: GOS/FRED/FCD/FIN/2015/17/TDS/184
                            Dated 15.07.2016.
                            </a></li>
                    </ul>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
               <i class="ni ni-bell-55 mr-2"></i> 2015-16 
              </ng-template>
                <ng-template ngbTabContent>
                  <p style="text-align: center">Training Not Available</p>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                    <i class="ni ni-bell-55 mr-2"></i> 2014-15
              </ng-template>
                <ng-template ngbTabContent>
  <ul>
                    <li style="color: Black;">
                        <a href="http://sikkimfred.gov.in/Employees Corner/Trainings/CompulsoryTraining E-IT.pdf" target="_blank" style="color: Black; font-size: small;">Notification:- Compulsory training on e-filing of Income Tax Returns by the D&Dos ref. Circular no.20/Fin/Adm., Dated
                            13.10.2014.
                            <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" />
                        </a>
                    </li>
                </ul>
                <ul>
                    <li style="color: Black;">
                        <a href="http://sikkimfred.gov.in/Employees Corner/Trainings/Re-scheduled for Accounts Clerks Training at AATI.pdf" target="_blank"
                            style="color: Black; font-size: small;">Notification:- Re-scheduling of Accounts Clerk Training vide no.01/Fin/SSAS dated 10/04/2014.
                        </a>
                    </li>
                </ul>
                <ul>
                    <li style="color: Black;">
                        <a href="http://sikkimfred.gov.in/Employees Corner/Trainings/Training _Letter.pdf" target="_blank" style="color: Black; font-size: small;">Compulsory Training for Probationer – Accounts Clerks at AATI vide No. 1176/Fin/SSAS dated 25/02/2014.
                        </a>
                    </li>
                    </ul>
                    <ul>
                        <li style="color: Black;">
                            <a href="http://sikkimfred.gov.in/Notification/Documents/Annexure to training.pdf" target="_blank" style="color: Black; font-size: small;">ANNEXURE- List of Training.</a>
                        </li>
                    </ul>
                </ng-template>
            </ngb-tab>
                 <ngb-tab>
              <ng-template ngbTabTitle>
                    <i class="ni ni-bell-55 mr-2"></i> 2013-14
              </ng-template>
                <ng-template ngbTabContent>
                   <ul>
                <li style="color: Black;">
                    <a href="http://sikkimfred.gov.in/Notification/Documents/Leter_to_all_heads_of_department.pdf" target="_blank" style="color: Black; font-size: small;">List of Accounts Staffs Nominated for Refresher Course on Financial Management and Accounting at AATI for the year
                        2013-14 </a>
                </li>
                </ul>
                <ul>
                    <li style="color: Black;">
                        <a href="http://sikkimfred.gov.in/Notification/Documents/Annexure to training.pdf" target="_blank" style="color: Black; font-size: small;">ANNEXURE- List of Training.</a>
                    </li>
                </ul>
           
            <ul>
                <li style="color: Black;">
                    <a href="http://sikkimfred.gov.in/Notification/Documents/AATI.pdf" target="_blank" style="color: Black; font-size: small;">List of Accounts Staffs Nominated for Refresher Course on Financial Management and Accounting at AATI for the year
                        2013-14</a>
                </li>
                </ul>
                <ul>
                    <li style="color: Black;">
                        <a href="http://sikkimfred.gov.in/Notification/Documents/Encloser.pdf" target="_blank" style="color: Black; font-size: small;">ANNEXURE- List of Training. </a>
                    </li>
                </ul>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i class="ni ni-bell-55 mr-2"></i> 2012-13 
              </ng-template>
                <ng-template ngbTabContent>
                     <p style="text-align: center">Training Not Available</p>
                </ng-template>
            </ngb-tab>
          
        </ngb-tabset>
    </div>
   
  </div>

  <!-- <div class="row row-grid justify-content-between align-items-center mt-lg">
    <div class="col-lg-5">
      <h3 class="h4 text-success font-weight-bold mb-4">Progress bars</h3>
      <div class="progress-wrapper">
        <div class="progress-info">
          <div class="progress-label">
            <span>Task completed</span>
          </div>
          <div class="progress-percentage">
            <span>40%</span>
          </div>
        </div>
        <ngb-progressbar type="default" [value]="25"></ngb-progressbar>
      </div>
      <div class="progress-wrapper">
        <div class="progress-info">
          <div class="progress-label">
            <span>Task completed</span>
          </div>
          <div class="progress-percentage">
            <span>60%</span>
          </div>
        </div>
        <ngb-progressbar type="primary" [value]="60"></ngb-progressbar>
      </div>
    </div> -->
   <!--  <div class="col-lg-5">
      <h3 class="h4 text-success font-weight-bold mb-5">Pagination</h3>
      <nav aria-label="Page navigation example" class="mb-4">
        <ngb-pagination [collectionSize]="50" [(page)]="page" [directionLinks]="false"></ngb-pagination>
      </nav>
      <nav aria-label="Page navigation example">
        <ngb-pagination [collectionSize]="50" [(page)]="page1" aria-label="Default pagination">
          <ng-template ngbPaginationPrevious><i _ngcontent-c9="" class="fa fa-angle-left"></i></ng-template>
          <ng-template ngbPaginationNext><i _ngcontent-c9="" class="fa fa-angle-right"></i></ng-template>
        </ngb-pagination>
      </nav>
    </div>
 -->  <!-- </div> -->
 <!--  <div class="row row-grid justify-content-between">
  --> <!--   <div class="col-lg-5">
      <h3 class="h4 text-success font-weight-bold mb-5">Navigation Pills</h3>
      <ngb-tabset type="pills" class="nav-pills-circle">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <span class="nav-link-icon d-block"><i class="ni ni-atom"></i></span>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <span class="nav-link-icon d-block"><i class="ni ni-chat-round"></i></span>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
                <span class="nav-link-icon d-block"><i class="ni ni-cloud-download-95"></i></span>
            </ng-template>
          </ngb-tab>
      </ngb-tabset>
    </div> -->
  <!--   <div class="col-lg-5">
      <h3 class="h4 text-success font-weight-bold mb-5">Labels</h3>
      <span class="badge badge-pill badge-primary text-uppercase">Primary</span>
      <span class="badge badge-pill badge-success text-uppercase">Success</span>
      <span class="badge badge-pill badge-danger text-uppercase">Danger</span>
      <span class="badge badge-pill badge-warning text-uppercase">Warning</span>
      <span class="badge badge-pill badge-info text-uppercase">Info</span>
    </div> -->
<!--   </div> -->
</div>


                 </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>  
 
 
  

  
</main>
