<style>
body {
  font-family: "Lato", sans-serif;
}

/* Fixed sidenav, full height */
.sidenav {
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 15px 40px;
  text-decoration: none;
  font-size: 0.9rem;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
   background:#d2ffe221;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding:0 0 16px 0;
}

/* Add an active class to the active dropdown button */
.active {
  background:#d2ffe221;
    color: black;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #fff;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>

<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-50">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <div class="btn-wrapper">
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
   <section class="section section-lg pt-lg-0 mt--100">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-12">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
      <!--             <h6 class="text-primary text-uppercase"> Contact List- Finance Department As On 23/10/2019</h6>
       -->          

<div class="container-fluid">

  <div class="grid">
                <div class="row">
                    <div class="col-lg-3">
                        <!-- category -->
<div class="sidenav">
  <button class="dropdown-btn">Memorandum to 15th FC 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
 
  <a href="#">Vol - I</a>

  <button class="dropdown-btn">Vol-II
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Cover Page</a>
    <a href="#">State Data Format</a>
  </div>


   <a href="#">Vol - III</a>

    <button class="dropdown-btn">Vol - IV
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Local Bodies Memo</a>
    <a href="#">Local Bodies Topic Note</a>
    <a href="#">Local Bodies Data Format</a>

  </div>



    <button class="dropdown-btn">Vol - V
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Local Bodies Memo</a>
    <a href="#">Local Bodies Topic Note</a>
    <a href="#">Local Bodies Data Format</a>

  </div>
  
    
  </div>










<button class="dropdown-btn">Memorandum to 14th FC 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
 
  <a href="#">Vol - I</a>

  <button class="dropdown-btn">Vol-II
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">State Formats-14TH FC</a>
  </div>


   <a href="#">Vol - III</a>

    <button class="dropdown-btn">Vol - IV
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Local Bodies</a>
    
  </div>


   <a href="#">Vol - V (UPGRADATION GRANT,SPECIFIC NEEDS OF THE STATE)</a>

  
    
  </div>




  <a href="#contact">14TH FC Power Point Presentation</a>










<button class="dropdown-btn">Memorandum to 13th FC 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
 
  <a href="#">Vol - I</a>

  <button class="dropdown-btn">Vol-II
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">State Formats</a>
  </div>


   <a href="#">Vol - III</a>

    <button class="dropdown-btn">Vol - IV
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Local Bodies 1</a>
    


  <button class="dropdown-btn">Local Bodies 2
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">local bodies (a)</a>
    <a href="#">local bodies (b)</a>
    <a href="#">local bodies (c)</a>
    <a href="#">local bodies (d)</a>
    <a href="#">local bodies (e)</a>
    <a href="#">local bodies (f)</a>
  </div>




  <button class="dropdown-btn">Local Bodies 3
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">local bodies (a)</a>
    <a href="#">local bodies (b)</a>
 
  </div>


  <button class="dropdown-btn">Local Bodies 4
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">local bodies (a)</a>
    <a href="#">local bodies (b)</a>
    <a href="#">local bodies (c)</a>
    <a href="#">local bodies (d)</a>
   </div>




 <a href="#">Local Bodies 5</a>

 <a href="#">Local Bodies 6</a>

 <a href="#">Local Bodies 7</a>

 <a href="#">Local Bodies 8</a>


  </div>


   <a href="#">Vol - V (UPGRADATION GRANT,SPECIFIC NEEDS OF THE STATE)</a>

  
    
  </div>


 <a href="#">Report - 13th FC</a>
<a href="#">Summary 13th FC</a>
  
    



  <button class="dropdown-btn">State Finance Comm.
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Exp. Memo. 5th FC</a>
    <a href="#">Exp. Memo. 4th FC</a>
    <a href="#">Report 4th SFC</a>
    <a href="#">Report 3rd SFC</a>
   </div>



  <button class="dropdown-btn">Action Taken Report
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Report Fifth SFC</a>
    <a href="#">Report Third SFC</a>
  
   </div>















</div>

<!-- <div class="main">
  <h2>Sidebar Dropdown</h2>
  <p>Click on the dropdown button to open the dropdown menu inside the side navigation.</p>
  <p>This sidebar is of full height (100%) and always shown.</p>
  <p>Some random text..</p>
</div>
 -->
    

                    </div>

<div class="col-lg-3">Hello</div>
</div>
 </div>
</div>



                

                 </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>  
 
 
  

  
</main>
